
//========================//
//==== Color Tool CSS ====//
//========================//

// Import statements
@import '../../../../../cae_home/static/cae_home/css/sass/_variables';
@import '../../../../../cae_home/static/cae_home/css/sass/_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content.cae-tools {

    .color-display {
        min-width: 125px;
        min-height: 100px;

        padding: 10px;

        > div:first-child {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
        }

        h1, h2, h3, h4, h5, h6 {
            padding-top: 0;
        }
    }

    .color-edit {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        padding: 10px;
    }

    .color-box {
        width: 25px;
        height: 25px;

        margin: 5px;
    }

    #wmu-color-display {

        /*overflow-x: scroll;*/

        > div {
            @include display-flex;
            @include flex-direction(row);
            @include align-items(center);

            padding: 5px;

            overflow-x: scroll;
        }
    }

    #color-adjustment {

        > div {
            @include display-flex;
            @include flex-direction(row);
            @include align-items(center);

            padding: 5px;

            overflow-x: scroll;
        }
    }
}

input {
    width: auto;
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content.cae-tools {

    .color-display {
        font-size: 60%;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content.cae-tools {

    .color-display {
        border: 1px solid $color-black;
    }

    .color-edit {
        border: 1px solid $color-black;
    }

    .color-box {
        border: 1px solid $color-black;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//



//===========================//
//===== END ----- Block =====//
//===========================//
