<!--.l-footer -->
<footer role="contentinfo" class="l-footer">
  <div class="l-footer-columns">
    <div class="row">
      <div class="small-6 medium-4 large-3 columns footer-first">
        <section class="block block-menu block-menu-menu-audiences">
          <h2 class="block-title">Audiences</h2>
          <ul class="menu">
            <li class="first leaf"><a href="/students" title="">Students</a></li>
            <li class="leaf"><a href="/families" title="">Families</a></li>
            <li class="leaf"><a href="http://mywmu.com">Alumni and Donors</a></li>
            <li class="last leaf"><a href="/businessconnection" title="">Businesses</a></li>
          </ul>
        </section>
      </div>
      <div class="small-6 medium-4 large-3 columns footer-second">
      <section class="block block-menu block-menu-menu-locations">
        <h2 class="block-title">Locations</h2>
        <ul class="menu">
          <li class="first leaf"><a href="/about/kalamazoo" title="">Kalamazoo</a></li>
          <li class="leaf"><a href="http://wmich.edu/extended">Regional Locations</a></li>
          <li class="leaf"><a href="http://wmich.edu/online">Online Education</a></li>
          <li class="leaf"><a href="http://cooley.edu">Cooley Law School</a></li>
          <li class="last leaf"><a href="http://med.wmich.edu">Stryker School of Medicine</a></li>
        </ul>
      </section>
      </div>
      <div class="small-6 medium-4 large-3 columns footer-third">
        <section class="block block-menu block-menu-menu-services">
          <h2 class="block-title">Services</h2>
          <ul class="menu">
            <li class="first leaf"><a href="/career" title="">Careers and Internships</a></li>
            <li class="leaf"><a href="/hr" title="">Human Resources</a></li>
            <li class="leaf"><a href="http://wmich.edu/maps">Maps</a></li>
            <li class="leaf"><a href="/parking" title="">Parking</a></li>
            <li class="last leaf"><a href="/publicsafety" title="">Public Safety</a></li>
          </ul>
        </section>
      </div>
      <div class="small-6 medium-12 large-3 columns footer-fourth copyright">
        <section class="block block-wmu-cms block-wmu-cms-logistics">
          <p>
            <strong>Western Michigan University</strong><br /><span>Kalamazoo MI 49008-5200 USA</span><br /><span>(269) 387-1000</span><br /><a href="http://wmich.edu/contact">Contact WMU</a></p><p>&copy; 2018 All rights reserved.
          </p>
        </section>
      </div>
    </div>
  </div>
</footer>
<!--/.l-footer -->
