<!--.l-header -->
<header role="banner" class="l-header">
  <!--.top-bar -->
  <div class="contain-to-grid hide-for-large-up">
    <nav class="top-bar global-nav" role="navigation" data-topbar data-options="is_hover:false; mobile_show_parent_link:true">
      <ul class="title-area">
        <li class="name">
          <h2 id="site-name-topbar"><a href="/" rel="home" title="Back to Western Michigan University home page"><img class="logo" src="http://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/w.svg" alt="W logo" /><img class="site-name" src="http://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/name.svg" alt="Western Michigan University" /></a></h2>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <!--.l-header-region -->
        <div class="l-header-region">
          <div class="block block-wmu-google-search block-wmu-google-search-mobile">
            <form action="https://search.wmich.edu/search" method="get" id="wmu-google-search-form--2" accept-charset="UTF-8">
              <div>
                <h2 class="element-invisible">Search form</h2>
                <div class="row collapse">
                  <div class="large-12 columns">
                    <div class="row collapse">
                      <div class="small-10 medium-11 large-10 columns">
                        <input title="Search WMU" type="search" id="edit-q--2" name="q" value="" size="15" maxlength="128" placeholder="Search WMU" class="form-text form-search" />
                      </div>
                      <div class="small-2 medium-1 large-2 columns">
                        <button type="submit" class="button postfix" title="Search" aria-label="submit form">
                          <i class="fa fa-search"></i><span class="element-invisible">Search</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--/.l-header-region -->
        <ul id="main-menu" class="main-nav left">
          <li class="first leaf" title=""><a href="/academics" title="">Academics</a></li>
          <li class="leaf" title=""><a href="/admissions" title="">Admissions</a></li>
          <li class="leaf" title=""><a href="/finaid" title="">Financial Aid</a></li>
          <li class="leaf" title=""><a href="/students" title="">Student Life</a></li>
          <li class="leaf" title=""><a href="http://wmubroncos.com/" title="">Athletics</a></li>
          <li class="last leaf" title=""><a href="/research" title="">Research</a></li>
        </ul>
        <ul id="secondary-menu" class="secondary link-list right">
          <li class="first leaf" title=""><a href="/about" title="">About</a></li>
          <li class="leaf"><a href="http://wmich.edu/directories">A–Z</a></li>
          <li class="leaf" title=""><a href="/contact" title="">Contact</a></li>
          <li class="leaf" title=""><a href="http://www.wmich.edu/peoplesearch/" title="">Find People</a></li>
          <li class="leaf" title=""><a href="http://gowmu.wmich.edu/" title="">GoWMU</a></li>
          <li class="last leaf" title=""><a href="/visit" title="">Visit</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <!--/.top-bar -->

  <!-- Title and menu -->
  <section id="alt-header" class="row  show-for-large-up">

    <!-- Site name -->
    <div class="columns large-3">
      <h2 id="site-name">
        <a href="/" rel="home" title="Back to Western Michigan University home page"><img class="logo" src="http://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/w.svg" alt="W logo" /><img class="site-name" src="http://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/name-stacked.svg" alt="Western Michigan University" /></a>
      </h2>
    </div>

    <!-- Navigation -->
    <div class="columns large-9">
      <!-- Secondary nav and search -->
      <div class="row collapse">
        <div class="columns large-8">
          <nav class="navigation" role="navigation">
            <h2 class="element-invisible">Secondary menu</h2>
            <ul id="secondary-menu-links" class="links inline-list clearfix">
              <li class="menu-9083 first"><a href="/about" title="">About</a></li>
              <li class="menu-9084"><a href="http://wmich.edu/directories">A–Z</a></li>
              <li class="menu-407"><a href="/contact" title="">Contact</a></li>
              <li class="menu-409"><a href="http://www.wmich.edu/peoplesearch/" title="">Find People</a></li>
              <li class="menu-9143"><a href="http://gowmu.wmich.edu/" title="">GoWMU</a></li>
              <li class="menu-9085 last"><a href="/visit" title="">Visit</a></li>
            </ul>
          </nav>
        </div>
        <!--.l-header-region -->
        <div class="l-header-region columns large-4">
          <div class="block block-wmu-google-search block-wmu-google-search-global header">
            <form action="https://search.wmich.edu/search" method="get" id="wmu-google-search-form" accept-charset="UTF-8">
              <div>
                <h2 class="element-invisible">Search form</h2>
                <div class="row collapse">
                  <div class="large-12 columns">
                    <div class="row collapse">
                      <div class="small-10 medium-11 large-10 columns">
                        <input title="Search WMU" type="search" id="edit-q" name="q" value="" size="15" maxlength="128" placeholder="Search WMU" class="form-text form-search" />
                      </div>
                      <div class="small-2 medium-1 large-2 columns">
                        <button type="submit" class="button postfix" title="Search" aria-label="submit form">
                          <i class="fa fa-search"></i><span class="element-invisible">Search</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--/.l-header-region -->
      </div>
      <!-- Main nav -->
      <div class="row">
        <div class="columns">
          <nav class="navigation" role="navigation">
            <h2 class="element-invisible">Main menu</h2>
            <ul id="main-menu-links" class="links inline-list clearfix"><li class="menu-2069 first"><a href="/academics" title="">Academics</a></li>
              <li class="menu-5280"><a href="/admissions" title="">Admissions</a></li>
              <li class="menu-9081"><a href="/finaid" title="">Financial Aid</a></li>
              <li class="menu-392"><a href="/students" title="">Student Life</a></li>
              <li class="menu-393"><a href="http://wmubroncos.com/" title="">Athletics</a></li>
              <li class="menu-9082 last"><a href="/research" title="">Research</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End title and menu -->

  <!-- Section topbar -->
  <div class="contain-to-grid hide-for-large-up">
    <nav class="top-bar section-nav block block-menu-block block-menu-block-wmu-cms-sections-topbar" data-topbar data-options="is_hover:false; mobile_show_parent_link:true">
      <ul class="title-area">
        <li class="name"><h2 class="block-title long-title"><a href="/engineer" title="" class="active-trail">College of Engineering and Applied Sciences</a></h2></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <div class="menu-block-wrapper menu-block-wmu_cms-sections-topbar menu-name-sections parent-mlid-0 menu-level-2">
          <ul class="menu">
            <li class="first leaf active"><a href="/engineer" title="" class="active-trail active">Home</a></li>
            <li class="collapsed menu-mlid-8759"><a href="/engineer/about" title="">About</a></li>
            <li class="collapsed menu-mlid-8760"><a href="/engineer/academics" title="">Academics</a></li>
            <li class="collapsed menu-mlid-8761"><a href="/engineer/advising" title="">Advising</a></li>
            <li class="collapsed menu-mlid-8886"><a href="/engineer/alumni" title="">Alumni</a></li>
            <li class="collapsed menu-mlid-8764"><a href="/engineer/news" title="">Events and News</a></li>
            <li class="collapsed menu-mlid-8765"><a href="/engineer/current" title="">For Current Students</a></li>
            <li class="collapsed menu-mlid-8766"><a href="/engineer/future" title="">For Future Students</a></li>
            <li class="leaf menu-mlid-14202"><a href="/engineer/giving" title="">Giving</a></li>
            <li class="collapsed menu-mlid-9319"><a href="/engineer/researchcenters" title="">Research</a></li>
            <li class="leaf menu-mlid-8769"><a href="/engineer/scholarships" title="">Scholarships</a></li>
            <li class="collapsed menu-mlid-8772"><a href="/engineer/directory" title="">Directory</a></li>
            <li class="last leaf menu-mlid-8773"><a href="/engineer/contact" title="">Contact Us</a></li>
          </ul>
        </div>
      </section>
    </nav>
  </div>
  <!-- End section topbar -->

  <!-- Section name -->
  <section class="l-section-name panel  show-for-large-up">
    <div class="row">
      <h2 id="section-name" class="columns"><a href="/engineer" title="College of Engineering and Applied Sciences Home">College of Engineering and Applied Sciences</a></h2>
    </div>
  </section>
  <!-- End section name -->
</header>
<!--/.l-header -->
