{% extends 'wmu_home/base.html' %}


{% block main %}
  <!--.l-main -->
  <main role="main" class="row l-main">
    <!-- .l-main region -->
    <div id="content" class="large-9 large-push-3 main columns">
      <a id="main-content"></a>
      <!-- <h1 id="page-title" class="title">Academics</h1> -->
      <!-- <section class="block block-views block-views-wmu-slideshows-section">
        <div class="view view-wmu-slideshows view-id-wmu_slideshows view-display-id-section view-dom-id-bc40697449aff974b69086de8e10a814">
          <div class="view-content">
            <div>
              <div id="flexslider-node-39674" class="flexslider">
                <ul class="field field-name-field-slides field-type-node-reference field-label-hidden slides field-wrapper">
                  <li class="field-item even">
                    <img src="http://wmich.edu/sites/default/files/styles/720p/public/images/u883/2017/undergrad.jpg?itok=Slq8_P5Y" width="1280" height="720" alt="WMU College of Engineering and Applied Sciences Undergraduate Programs" />
                    <div class="flex-caption-wrapper">
                      <div class="flex-caption">
                        <a href="http://wmich.edu/engineer/academics/undergraduate" class="button flex-caption-button button-gold">Undergraduate Programs</a>
                      </div>
                    </div>
                  </li>
                  <li class="field-item even odd">
                    <img src="http://wmich.edu/sites/default/files/styles/720p/public/images/u883/2017/accelerated.jpg?itok=3HXrLN1_" width="1280" height="720" alt="WMU College of Engineering and Applied Sciences Accelerated Programs" />
                    <div class="flex-caption-wrapper">
                      <div class="flex-caption">
                        <a href="http://wmich.edu/engineer/academics/accelerated" class="button flex-caption-button button-green">Accelerated Programs</a>
                      </div>
                    </div>
                  </li>
                  <li class="field-item even odd even">
                    <img src="http://wmich.edu/sites/default/files/styles/720p/public/images/u883/2017/masters.jpg?itok=WKLoEbUD" width="1280" height="720" alt="WMU College of Engineering and Applied Sciences Masters Programs" />
                    <div class="flex-caption-wrapper">
                      <div class="flex-caption">
                        <a href="http://wmich.edu/engineer/academics/masters" class="button flex-caption-button button-orange">Master's Programs</a>
                      </div>
                    </div>
                  </li>
                  <li class="field-item even odd even odd">
                    <img src="http://wmich.edu/sites/default/files/styles/720p/public/images/u883/2017/PhD.jpg?itok=G6TZf7WV" width="1280" height="720" alt="WMU College of Engineering and Applied Sciences Doctoral Programs" />
                    <div class="flex-caption-wrapper">
                      <div class="flex-caption">
                        <a href="http://wmich.edu/engineer/academics/doctoral" class="button flex-caption-button button-blue">Doctoral Programs</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- <article id="node-25130" class="node node-page view-mode-full">
        <div class="button-bar node-links"></div> -->

        {% block content %}{% endblock content %}

        <!-- <div class="body field">
          <p>We offer 14 undergraduate programs in engineering, engineering technology and applied sciences. We have 11 master’s degree programs – most which can be earned in just one additional year through our accelerated master’s program -- and seven doctoral programs. </p>
          <p>We believe in giving our students many opportunities to take part in research experiences, work closely with outstanding faculty, and be involved in student organizations with hands-on engineering projects and activities. Across all levels, we graduate students who are career-ready and have real-world skills.</p>
          <h3><strong>Undergraduate students</strong> - <a class="button-gold" title="Apply now" href="/apply" target="_blank">Apply now</a></h3>
          <h3>Graduate students - <a class="button-orange" href="/apply/graduate/" target="_self">Apply Now</a></h3>
          <h3>International Students - <a class="button-blue" href="/apply/international" target="_self">Apply Now</a></h3>
        </div> -->
      <!-- </article> -->
    </div>
    <!--/.l-main region -->

    <aside role="complementary" class="large-3 large-pull-9 sidebar-first columns sidebar">
      <div class="row">
        <!-- Section navigation -->
        <nav role="navigation" class="columns large-12 show-for-large-up block block-menu-block block-menu-block-wmu-cms-sections clearfix">
          <div class="menu-block-wrapper menu-block-wmu_cms-sections menu-name-sections parent-mlid-0 menu-level-2">
            <ul class="menu">
              <li class="first leaf active"><a href="/engineer" title="" class="active-trail active">Home</a></li>
              <li class="collapsed menu-mlid-8759"><a href="/engineer/about" title="">About</a></li>
              <li class="collapsed menu-mlid-8760"><a href="/engineer/academics" title="">Academics</a></li>
              <li class="collapsed menu-mlid-8761"><a href="/engineer/advising" title="">Advising</a></li>
              <li class="collapsed menu-mlid-8886"><a href="/engineer/alumni" title="">Alumni</a></li>
              <li class="collapsed menu-mlid-8764"><a href="/engineer/news" title="">Events and News</a></li>
              <li class="collapsed menu-mlid-8765"><a href="/engineer/current" title="">For Current Students</a></li>
              <li class="collapsed menu-mlid-8766"><a href="/engineer/future" title="">For Future Students</a></li>
              <li class="leaf menu-mlid-14202"><a href="/engineer/giving" title="">Giving</a></li>
              <li class="collapsed menu-mlid-9319"><a href="/engineer/researchcenters" title="">Research</a></li>
              <li class="leaf menu-mlid-8769"><a href="/engineer/scholarships" title="">Scholarships</a></li>
              <li class="collapsed menu-mlid-8772"><a href="/engineer/directory" title="">Directory</a></li>
              <li class="last leaf menu-mlid-8773"><a href="/engineer/contact" title="">Contact Us</a></li>
            </ul>
          </div>
        </nav>
        <!-- End section navigation -->
        <section class="block block-views block-views-wmu-social-media-badges-section clearfix block-social-badges columns small-12 medium-6 medium-push-6 large-12 large-reset-order">
          <div class="view view-wmu-social-media-badges view-id-wmu_social_media_badges view-display-id-section view-dom-id-f073a8b5a865614d15bd89d720a74a0c">
            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last clearfix">
                <a href="https://www.facebook.com/WMUCEAS?fref=nf" title="Facebook" class="field-name-field-link-facebook"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-facebook"></i></span><span class="element-invisible">Facebook</span></a>
                <a href="https://twitter.com/WMUEngineers" title="Twitter" class="field-name-field-link-twitter"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-twitter"></i></span><span class="element-invisible">Twitter</span></a>
                <a href="https://www.linkedin.com/edu/school?id=162162&trk=tyah&trkInfo=clickedVertical%3Aschool%2CclickedEntityId%3A162162%2Cidx%3A1-1-1%2CtarId%3A1441043791497%2Ctas%3AWestern%20Michigan%20University%20College%20of%20En" title="LinkedIn" class="field-name-field-link-linkedin"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-linkedin"></i></span><span class="element-invisible">LinkedIn</span></a>
                <a href="https://www.youtube.com/channel/UC85bZ1vNHlT3cF0sFBbwo_A" title="YouTube" class="field-name-field-link-youtube"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-youtube"></i></span><span class="element-invisible">YouTube</span></a>
              </div>
            </div>
          </div>
        </section>
        <section class="columns small-12 medium-6 medium-pull-6 large-12 large-reset-order block block-views block-views-wmu-section-address-block clearfix">
          <div class="view view-wmu-section-address view-id-wmu_section_address view-display-id-block view-dom-id-3488f2bea1941be40e0f411206007fdf">
            <div class="view-content">
            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
              <div>        <div><strong>College of Engineering and Applied Sciences</strong><br />Western Michigan University<br />Kalamazoo MI 49008-5314 USA<br />(269) 276-3253</div>  </div>
            </div>
            </div>
          </div>
        </section>
      </div>
    </aside>
  </main>
  <!--/.l-main -->

  <!-- .l-spotlights -->
  <aside role="complementary" class="l-spotlights panel callout">
    <div class="row collapse">
      <div class="small-12 sidebar-second columns">
        <section class="block block-wmu-spotlights block-wmu-spotlights-related block-odd clearfix">
          <div class="view view-wmu-spotlights view-id-wmu_spotlights view-display-id-section clearfix">
            <div class="view-content">
              <ul class="large-block-grid-4 small-block-grid-2">
                <li class="views-row views-row-1 views-row-odd views-row-first">
                  <a href="http://wmich.edu/engineer/news/calendar17-18" class="spotlight" title="Read more"><img class="no-border" src="http://wmich.edu/sites/default/files/styles/spotlight/public/images/u883/2016/calendar.jpg?itok=lOYDXPie" width="135" height="175" alt="" /><span class="spotlight-title">College Calendar</span></a>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <a href="http://wmich.edu/engineer/news/inspire" class="spotlight" title="Read more"><img class="no-border" src="http://wmich.edu/sites/default/files/styles/spotlight/public/images/u883/2016/newsletter.jpg?itok=psi8miOD" width="135" height="175" alt="" /><span class="spotlight-title">College Newsletter</span></a>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <a href="http://wmich.edu/step" class="spotlight" title="Read more"><img class="no-border" src="http://wmich.edu/sites/default/files/styles/spotlight/public/images/u883/2016/step.jpg?itok=sUtmuQq8" width="135" height="175" alt="" /><span class="spotlight-title">Student Success</span></a>
                </li>
                <li class="views-row views-row-4 views-row-even views-row-last">
                  <a href="http://wmich.edu/global" class="spotlight" title="Read more"><img src="http://wmich.edu/sites/default/files/styles/spotlight/public/images/u883/2018/global-engaged.jpg?itok=ehaf9Dba" width="135" height="175" alt="" /><span class="spotlight-title">Get Globally Engaged</span></a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </aside>
  <!--/.l-spotlights -->
{% endblock main %}
