html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
}

html {
  font-family: "Source Sans Pro", "Open Sans", "Lato", sans-serif;
}

p {
  font-family: "Open Sans", "Lato", "Source Sans Pro", sans-serif;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  font-size: 4.5vw;
}
@media only screen and (min-width: 400px) and (max-width: 475px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 475px) and (max-width: 550px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.4vw;
  }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.7vw;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.1vw;
  }
}
@media only screen and (min-width: 869px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.8vw;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.4vw;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.1vw;
  }
}
@media only screen and (min-width: 1601px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 0.9vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 174%;
}

h3 {
  font-size: 151%;
}

h4 {
  font-size: 132%;
}

h5 {
  font-size: 115%;
}

h6 {
  font-size: 100%;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  vertical-align: baseline;
  border: 0;
}

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.page > main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*# sourceMappingURL=base.css.map */
