
# Do not track local database changes, if using sqlite.
*.sqlite3

# Do not track DEBUG file.
DEBUG

# Do not track local environment settings.
settings/local_env/*
.venv/
.vscode/

# Do not track other projects within the apps folder.
apps/*

# Do not track python cache files
*.pyc
