
# Do not track local database changes, if using sqlite.
*.sqlite3

# Do not track DEBUG file.
DEBUG

# Do not track other projects within the apps folder.
apps/

# Do not track local environment settings/solution.
.venv/
.vscode/
.idea/
.vs/
env/
node_modules/
settings/local_env/
CICO.pyproj
CICO.sln
package-lock.json

# Do not track python cache files.
*.pyc

# Do not track css/css map/sass map files.
*.css
*.css.map
*.sass-cache/

# Do not track migrations for now.
*/migrations/0*.py
