
# Do not track local database changes, if using sqlite.
*.sqlite3

# Do not track DEBUG file.
DEBUG

# Do not track local environment settings.
settings/local_env/
.venv/
.vscode/
.idea/
.vs/

# Do not track other projects within the apps folder.
apps/

# Do not track python cache files.
*.pyc

# Do not track css/sass map files.
*.css.map

# Do not track migrations for now.
*/migrations/0*.py

#Do not track the solution
CICO.pyproj
CICO.sln
env/
node_modules/
package-lock.json
