
# Run via "pip install -r requirements.txt" while in the base project directory.


# Python Libraries.
django~=2.1.0       # Core Django framework.
channels            # Support for websocket connections.
channels-redis      # Additional channels support for live updates between sockets.
djangorestframework     # Support for easy model API access.
django-filter       # DjangoRest model filtering support.
faker               # Faker library for automatic model seeding.
xlrd                # Read .xls and .xlsx Excel files (Deprecated, but required for .xls)


# Third Party Django Apps.
django-modeladmin-reorder   # Third party app for admin view customization.
django-scheduler==0.8.8     # Third party app for calendar scheduling.


# Optional imports.
# mysqlclient         # For connecting to mysql. Not necessary if using sqlite during development.
# ldap3               # For ldap connection. Only necessary when CaeAuthBackend is turned on.
# mod_wsgi            # For putting on a production server. Required for apache to use a Python virtual environment.
