
# Run via "pip install -r requirements.txt" while in the base project directory.


# Python Libraries.
django~=1.11.0      # Core Django framework.
channels            # Support for websocket connections.
faker               # Faker library for automatic model seeding.


# Third Party Django Apps.
django-scheduler==0.8.8 # Third party Django app for calendar scheduling.
django-modeladmin-reorder   # Third party Django app for admin view customization.


# Optional imports.
# mysqlclient         # For connecting to mysql. Not necessary if using sqlite during development.
# django-auth-ldap    # For ldap connection. Needs testing. Likely to be mandatory upon implementation.
