
//=============================//
//===== Element Group CSS =====//
//=============================//

// Helper variables for looping through related sets of elements.
// Eseentially just lists of element names.


//================================================================================//
//============================== Element Variables ===============================//
//================================================================================//

// Full Html Element List.
$html_element_list: ('body', 'hgroup', 'header', 'footer', 'nav',
    'article', 'section', 'aside', 'figure', 'figcaption',
    'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
    'ol', 'ul', 'li',
    'div', 'span', 'p', 'img', 'a',
    'form', 'button');


// Main Element Lists.
$header_element_list: ('h1', 'h2', 'h3', 'h4', 'h5', 'h6');
$content_element_list: ('.main-content', '.content-bar-left', '.content-bar-right');
$article_element_list: ('article', 'div.article', 'article.color',
    'div.article-color', 'section', 'div.section', 'div.section-color');


// Panel Element Lists.
$panel_header_element_list: ('.header', '.head');
$panel_content_element_list: ('.content', '.body');
$panel_footer_element_list: ('.footer', '.foot');
