
//==================//
//==== Body CSS ====//
//==================//

// Import statements
@import 'variables/_core';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//==================================//
//==== START Main Element Block ====//
//==================================//

html {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1);

    min-height: 100vh;

    // Printer layout.
    @media only print {
        display: block;
    }
}

body {
    // Handle for different user font size options.

    // Size Extra Small.
    &.font-size-xs {
        grid-template-rows: 34px auto auto 34px;
    }

    // Size Small.
    &.font-size-sm {
        grid-template-rows: 36px auto auto 36px;
    }

    // Size Default.
    &.font-size-base {
        grid-template-rows: 39px auto auto 39px;
    }

    // Size Medium.
    &.font-size-md {
        grid-template-rows: 41px auto auto 41px;
    }

    // Size Large.
    &.font-size-lg {
        grid-template-rows: 44px auto auto 44px;
    }

    // Size Extra Large.
    &.font-size-xl {
        grid-template-rows: 50px auto auto 50px;
    }
}

body.grid {
    display: grid;

    grid-template-columns: 5% 45% 45% 5%;

    grid-template-areas:
        "header header header header"
        "main-placeholder-left main main main-placeholder-right"
        "main-placeholder-left main main main-placeholder-right"
        "footer footer footer footer";

    // Show on larger screens.
    @media only screen and (min-width: $screen-tablet-mid) {
        grid-template-columns: 15% 35% 35% 15%;
    }
}

body.no-margins {
    grid-template-columns: 0% 50% 50% 0%;
}

body.no-grid {
    display: block;
}

body {
    position: relative;

    min-height:100vh;
    height: auto;

    // Printer layout.
    @media only print {
        display: block;
    }

    header {
        position: relative;

        grid-area: header;

        // Printer layout.
        @media only print {
            display: none;
        }
    }

    main {
        position: relative;

        grid-area: main;

        // Printer layout.
        @media only print {
            display: block;
        }
    }

    #main-placeholder-left {
        position: relative;

        grid-area: main-placeholder-left;

        // Printer layout.
        @media only print {
            display: none;
        }
    }

    #main-placeholder-right {
        position: relative;

        grid-area: main-placeholder-right;

        // Printer layout.
        @media only print {
            display: none;
        }
    }

    footer {
        position: relative;

        grid-area: footer;

        // Printer layout.
        @media only print {
            display: none;
        }
    }
}

//==================================//
//===== END Main Element Block =====//
//==================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

.accessibility-element {
    position: absolute !important;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;

    overflow: hidden;
}

//===================================//
//===== END Generic Class Block =====//
//===================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

body {

    @each $theme, $theme-dict in $theme-colors {
    &.theme-#{$theme} {

        color: theme-text($theme, 'text');

    }}

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

body {

    @each $theme, $theme-dict in $theme-colors {
    &.theme-#{$theme} {

        background-color: theme-background($theme, 'content');

        .main-content {
            background-color: theme-background($theme, 'content');
        }

    }}

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===================================//
//==== START Generic Class Block ====//
//===================================//

.accessibility-element {
    clip: rect(1px, 1px, 1px, 1px);
}

//===================================//
//===== END Generic Class Block =====//
//===================================//
