
//=============================//
//==== General Content CSS ====//
//=============================//

// Essentially, any "content" that's rendered within the <main> DOM element
// should be styled here.

// Note: Content specific to sub-projects or sub-apps should probably be defined
// within that sub-project or sub-app.
// This file is meant for general content values that apply to the all projects,
// such as overall table or form stylings, and similar things.

// Import statements
@import '_variables';
@import '_mixins';

@import 'content/_alert';
@import 'content/_article';
@import 'content/_button';
@import 'content/_content_bar';
@import 'content/_overlay_modal';
@import 'content/_panel';
@import 'content/_status_message';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {

    padding-bottom: 10px;

    ul {
        padding-left: 20px
    }

    table {
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;

        th, td {
            padding-top: 5px;
            padding-right: 3px;
            padding-bottom: 5px;
            padding-left: 3px;
        }

        @media only screen and (min-width: $screen-tablet-mid) {
            width: 100%;

            th, td {
                padding-right: 8px;
                padding-left: 8px;
            }
        }
    }
}

//=====================================//
//===== END Generic Element Block =====//
//=====================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    // Hide on print viewing.
    .display-only-web {
        @media only print {
            display: none !important;
        }
    }

    // Hide on web viewing.
    .display-only-print {
        @media only screen {
            display: none !important;
        }
    }

    // Attempt to center as much as possible.
    .center {
        @include flex-direction(center);
        @include align-items(center);
        text-align: center;
    }

    // Warning for javascript requirement.
    .javascript-warn {
        margin-right: auto;
        margin-top: 25px;
        margin-left: auto;
        margin-bottom: 25px;
    }
}

.hidden {
    display: none !important;
}

.fade-out {
    padding: 0 !important;
    margin: 0 !important;

    * {
        padding: 0 !important;
        margin: 0 !important;
    }
}

//=====================================//
//===== END Generic Class Block =======//
//=====================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {

  @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        color: theme-text($theme, 'content');

        a {
            color: theme-text($theme, 'link');
        }

        a:hover {
            color: theme-text($theme, 'link-hover');
        }

        table {

            thead, tfoot {
                color: theme-text($theme, 'secondary');
            }

            th {
                font-weight: bold;
            }
        }

    }
  }

}

//=====================================//
//===== END Generic Element Block =====//
//=====================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    .javascript-warn {
        font-weight: bold;

        text-align: center;
    }
}

.fade-out {
    * {
        font-size: 0px;
    }
}

//===================================//
//===== END Generic Class Block =====//
//===================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {

  @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        table {
            border: 1px solid theme-background($theme, 'border');
            border-collapse: collapse;

            th, td {
                border: 1px solid theme-text($theme, 'primary-hint');
            }

            thead, tfoot {
                background-color: theme-background($theme, 'primary');
            }

            tbody {
                tr:nth-child(odd) {
                    background-color: theme-background($theme, 'content-alt');
                }

                tr:nth-child(even) {
                    background-color: theme-background($theme, 'content');
                }
            }
        }

        hr {
            border-style: solid;
            border-color: theme-background($theme, 'border');
        }

    }
  }

}

//=====================================//
//===== END Generic Element Block =====//
//=====================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

  @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        .hover-highlight:hover {
            background-color: theme-background($theme, 'primary');
        }

        .javascript-warn {
            background-color: theme-status($theme, 'error', 'primary');
        }

        .fade-in {
            opacity: 1;
            visibility: visible;
        }

        .fade-out {
            opacity: 0;
            visibility: hidden;
        }

    }
  }

}

//===================================//
//===== END Generic Class Block =====//
//===================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {
    a {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }
}

//===================================//
//==== End Generic Element Block ====//
//===================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    .hover-highlight:hover {
        cursor: pointer;
    }
}

.fade-in {
    @include transition(color 0.5s, background-color 0.5s, border 0.5s, opacity 1s linear, visibility 0s 1s);
}

.fade-out {
    @include transition(padding 0.9s, margin 0.9s, font-size 0.9s, color 0.5s, background-color 0.5s, border 0.5s, opacity 0.9s linear, visibility 0s 0.9s);

    * {
        @include transition(padding 0.9s, margin 0.9s, font-size 0.9s, color 0.5s, background-color 0.5s, border 0.5s);
    }
}

//===================================//
//===== END Generic Class Block =====//
//===================================//
