
//=============================//
//==== General Content CSS ====//
//=============================//

// Essentially, any "content" that's rendered within the <main> DOM element
// should be styled here.

// Note: Content specific to sub-projects or sub-apps should probably be defined
// within that sub-project or sub-app.
// This file is meant for general content values that apply to the all projects,
// such as overall table or form stylings, and similar things.

// Import statements
@import '_variables';
@import '_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {

    padding-bottom: 10px;

    ul {
        padding-left: 20px
    }

    table {
        margin-right: auto;
        margin-left: auto;
    }

    td {
        padding-top: 5px;
        padding-right: 8px;
        padding-bottom: 5px;
        padding-left: 8px;
    }
}

//=====================================//
//===== END Generic Element Block =====//
//=====================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    // Hide on print viewing.
    .display-only-web {
        @media only print {
            display: none !important;
        }
    }

    // Hide on web viewing.
    .display-only-print {
        @media only screen {
            display: none !important;
        }
    }

    // Attempt to center as much as possible.
    .center {
        @include flex-direction(center);
        @include align-items(center);
        text-align: center;
    }

    // Warning for javascript requirement.
    .javascript-warn {
        margin-right: auto;
        margin-top: 25px;
        margin-left: auto;
        margin-bottom: 25px;
    }
}

.hidden {
    display: none !important;
}

.fade-out {
    padding: 0 !important;
    margin: 0 !important;

    > p {
        padding: 0 !important;
        margin: 0 !important;
    }
}

//=====================================//
//===== END Generic Class Block =======//
//=====================================//


//============================//
//==== START Button Block ====//
//============================//

button {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

a.button {
    display: inline-block;

    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

//============================//
//===== END Button Block =====//
//============================//


//===========================//
//==== START Panel Block ====//
//===========================//

div.panel {
    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;

    a {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    p > a {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    > .header {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);

        padding: 10px;
    }

    > .content {
        padding: 10px;
    }

    > .footer {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);

        padding: 10px;
    }
}

//===========================//
//===== END Panel Block =====//
//===========================//


//====================================//
//==== START Status Message Block ====//
//====================================//

#status-message-container {
    position: relative;

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    padding: 0 !important;

    .message {
        position: relative;

        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);

        width: 100%;
        padding: 10px;

        .exit {
            position: absolute;
            right: 0;

            padding: 5px;
            margin-right: 1%;
        }
    }
}

//====================================//
//===== END Status Message Block =====//
//====================================//


//=================================//
//==== START Content Bar Block ====//
//=================================//

#content-bar-left, #content-bar-right {
    position: absolute;

    @include display-flex;
    @include flex-direction(row);

    min-width: 100%;
    min-height: 100%;

    > .bar-nav {
        padding-top: 15px;
    }

    > .bar-content {
        min-height: 100%;
        padding: 5px;
    }
}

#content-bar-left {
    left: 0;

    > .bar-nav {
        left: 0;
        order: 1;
    }
}

#content-bar-right {
    right: 0;

    @include justify-content(flex-end);

    > .bar-nav {
        right: 0;
    }
}

.arrow-right:hover, .arrow-left:hover {
    background-color: white;
}

//===============================//
//==== End Content Bar Block ====//
//===============================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    .hover-highlight:hover {
        background-color: $theme-header-background;
    }

    .javascript-warn {
        font-weight: bold;

        text-align: center;
    }
}

.fade-out > p {
    font-size: 0px;
}

//===================================//
//===== END Generic Class Block =====//
//===================================//


//============================//
//==== START Button Block ====//
//============================//

button {
    color: $theme-text-accent;
}

button:hover {
    color: $theme-text;
}

a.button {
    color: $theme-text-accent;
    text-decoration: none;
}

a.button:hover {
    color: $theme-text;
}

//============================//
//===== END Button Block =====//
//============================//


//===========================//
//==== START Panel Block ====//
//===========================//

div.panel {
    a {
        font-weight: bold;
        color: $theme-content-text-subtle;
        text-decoration: none;
    }

    > .header {
        font-size: 110%;
        font-weight: bold;
    }
}

div.panel.info {
    a {
        color: $theme-status-info-text;
    }
}

div.panel.success {
    a {
        color: $theme-status-success-text;
    }
}

div.panel.warning {
    a {
        color: $theme-status-warn-text;
    }
}

div.panel.error, div.panel.danger {
    a {
        color: $theme-status-error-text;
    }
}

//===========================//
//===== END Panel Block =====//
//===========================//


//=================================//
//==== START Content Bar Block ====//
//=================================//

#content-bar-left, #content-bar-right {

    > .bar-nav p {
        font-size: 150%;
        color: $theme-header-background;
    }

    > .bar-nav p:hover {
        color: $theme-text;
    }
}

//===============================//
//==== End Content Bar Block ====//
//===============================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//=====================================//
//==== START Generic Element Block ====//
//=====================================//

#content {

    table {
        border: 1px solid $theme-border;
        border-collapse: collapse;
    }

    td {
        border: 1px solid $theme-border;
    }
}

//=====================================//
//===== END Generic Element Block =====//
//=====================================//


//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    .javascript-warn {
        background-color: $theme-warning;
    }
}

.fade-in {
    opacity: 1;
    visibility: visible;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
}


//===================================//
//===== END Generic Class Block =====//
//===================================//


//============================//
//==== START Button Block ====//
//============================//

button {
    background-color: $color-grey-90;
    border: 1px solid $theme-border;

    border-radius: 5px;
}

button:hover {
    background-color: $theme-border;
}

button.info {
    background-color: $theme-status-info;
    border: 1px solid $theme-status-info-border;
}

button.info:hover {
    background-color: $theme-status-info-border;
}

button.success {
    background-color: $theme-status-success;
    border: 1px solid $theme-status-success-border;
}

button.success:hover {
    background-color: $theme-status-success-border;
}

button.warning {
    background-color: $theme-status-warn;
    border: 1px solid $theme-status-warn-border;
}

button.warning:hover {
    background-color: $theme-status-warn-border;
}

button.error, button.danger {
    background-color: $theme-status-error;
    border: 1px solid $theme-status-error-border;
}

button.error:hover, button.danger:hover {
    background-color:  $theme-status-error-border;
}

a.button {
    background-color: $color-grey-90;
    border: 1px solid $theme-border;

    border-radius: 5px;
}

a.button:hover {
    background-color: $theme-border;
}

a.button.info {
    background-color: $theme-status-info;
    border: 1px solid $theme-status-info-border;
}

a.button.info:hover {
    background-color: $theme-status-info-border;
}

a.button.success {
    background-color: $theme-status-success;
    border: 1px solid $theme-status-success-border;
}

a.button.success:hover {
    background-color: $theme-status-success-border;
}

a.button.warning {
    background-color: $theme-status-warn;
    border: 1px solid $theme-status-warn-border;
}

a.button.warning:hover {
    background-color: $theme-status-warn-border;
}

a.button.error, .button.danger {
    background-color: $theme-status-error;
    border: 1px solid $theme-status-error-border;
}

a.button.error:hover, .button.danger:hover {
    background-color: $theme-status-error-border;
}

//============================//
//===== END Button Block =====//
//============================//


//===========================//
//==== START Panel Block ====//
//===========================//

div.panel {
    background-color: $theme-header-background;
    border: 1px solid $theme-border;

    a {
        border-radius: 5em
    }

    a:hover {
        background-color: $theme-header-background;
    }

    > .header {
        border-bottom: 1px solid $theme-border;
    }

    > .content {
        background-color: $theme-content-background;
    }

    > .footer {
        border-top: 1px solid $theme-border;
    }
}

div.panel:hover {
    background-color: $theme-header-highlight;
}

div.panel.info {
    background-color: $theme-status-info;
    border: 1px solid $theme-status-info-border;

    a:hover {
        background-color: $theme-status-info;
    }

    > .header {
        border-bottom: 1px solid $theme-status-info-border;
    }

    > .footer {
        border-top: 1px solid $theme-status-info-border;
    }
}

div.panel.info:hover {
    background-color: $theme-status-info-light;
}

div.panel.success {
    background-color: $theme-status-success;
    border: 1px solid $theme-status-success-border;

    a:hover {
        background-color: $theme-status-success;
    }

    > .header {
        border-bottom: 1px solid $theme-status-success-border;
    }

    > .footer {
        border-top: 1px solid $theme-status-success-border;
    }
}

div.panel.success:hover {
    background-color: $theme-status-success-light;
}

div.panel.warning {
    background-color: $theme-status-warn;
    border: 1px solid $theme-status-warn-border;

    a:hover {
        background-color: $theme-status-warn;
    }

    > .header {
        border-bottom: 1px solid $theme-status-warn-border;
    }

    > .footer {
        border-top: 1px solid $theme-status-warn-border;
    }
}

div.panel.warning:hover {
    background-color: $theme-status-warn-light;
}

div.panel.error, .panel.danger {
    background-color: $theme-status-error;
    border: 1px solid $theme-status-error-border;

    a:hover {
        background-color: $theme-status-error;
    }

    > .header {
        border-bottom: 1px solid $theme-status-error-border;
    }

    > .footer {
        border-top: 1px solid $theme-status-error-border;
    }
}

div.panel.error:hover, .panel.danger:hover {
    background-color: $theme-status-error-light;
}

//===========================//
//===== END Panel Block =====//
//===========================//


//====================================//
//==== START Status Message Block ====//
//====================================//

#status-message-container {
    li {
        list-style-type: none;
    }

    .message:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

#status-message-container, form {

    .message {
        background-color: $color-grey-90;
        border: 1px solid $theme-border;
    }

    .message.info {
        background-color: $theme-status-info;
        border: 1px solid $theme-status-info-border;
    }

    .message.success {
        background-color: $theme-status-success;
        border: 1px solid $theme-status-success-border;
    }

    .message.warning {
        background-color: $theme-status-warn;
        border: 1px solid $theme-status-warn-border;
    }

    .message.error, .message.danger {
        background-color: $theme-status-error;
        border: 1px solid $theme-status-error-border;
    }
}

//====================================//
//===== END Status Message Block =====//
//====================================//


//=================================//
//==== START Content Bar Block ====//
//=================================//

#content-bar-left, #content-bar-right {

    > .bar-content {
        background-color: $theme-header-background;
        border-right: 1px solid $theme-border;
        border-left: 1px solid $theme-border;
    }
}

//===============================//
//==== End Content Bar Block ====//
//===============================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===================================//
//==== START Generic Class Block ====//
//===================================//

#content {

    .hover-highlight:hover {
        cursor: pointer;
    }
}

.fade-in {
    @include transition(opacity 1.5s linear, visibility 0s 1.5s);
}

.fade-out {
    @include transition(padding 1.5s, margin 1.5s, opacity 1.5s linear, visibility 0s 1.5s);

    > p {
        @include transition(padding 1.5s, margin 1.5s, font-size 1.5s);
    }
}

//===================================//
//===== END Generic Class Block =====//
//===================================//


//============================//
//==== START Button Block ====//
//============================//

button, a.button {
    cursor: pointer;
    @include transition(color 0.5s, background-color 0.5s);
}

//============================//
//===== END Button Block =====//
//============================//


//===========================//
//==== START Panel Block ====//
//===========================//

div.panel {
    @include transition(background-color 0.5s);

    a {
        @include transition(background-color 0.5s);
    }
}

//===========================//
//===== END Panel Block =====//
//===========================//


//====================================//
//==== START Status Message Block ====//
//====================================//

#status-message-container {

    .message {
        box-sizing: border-box;

        .exit {
            cursor: pointer;
        }
    }
}

//====================================//
//===== END Status Message Block =====//
//====================================//


//=================================//
//==== START Content Bar Block ====//
//=================================//

#content-bar-left, #content-bar-right {

    > .bar-nav p {
        cursor: pointer;
    }
}

//===============================//
//==== End Content Bar Block ====//
//===============================//
