
//====================//
//==== Header CSS ====//
//====================//

// Import statements
@import '_variables';
@import '_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//=============================//
//==== START General Block ====//
//=============================//

header {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    .header-top {
        z-index: 10;

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
    }

    .header-bottom {
        z-index: 10;
        display: none;
    }
}

//=============================//
//===== END General Block =====//
//=============================//


//==========================//
//==== START Logo Block ====//
//==========================//

header .site-logo {
    @include flex(0);

    width: 100%;
    height: 100%;

    > ul {
        @include display-flex;

        margin-right: 1vw;
        margin-left: 1vw;

        width: 100%;
    }

    > ul > li {
        width: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    > ul > li > div {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        width: 100%;
    }

    img {
        max-height: 17px;

        margin-right: 10px;
        margin-left: 10px;
    }
}

//==========================//
//===== END Logo Block =====//
//==========================//

//======================================================//
//==== START "Logo" Font-Size Option Handling Block ====//
//======================================================//

header {
    // Size Small.
    .font-size-sm & {
        height: 36px;

        .header-top: {
            height: 36px;
        }
    }
}

header .site-logo {

    // Size Extra Small.
    .font-size-xs & {

        > ul > li > ul {
            top: 33px;
        }

        > ul > li > div {
            height: 27px;
        }

        img {
            max-height: 17px;
        }
    }

    // Size Small.
    .font-size-sm & {

        > ul > li > ul {
            top: 35px;
        }

        > ul > li > div {
            height: 29px;
        }

        img {
            max-height: 19px;
        }
    }

    // Size Default.
    .font-size-base & {

        > ul > li > ul {
            top: 38px;
        }

        > ul > li > div {
            height: 32px;
        }

        img {
            max-height: 22px;
        }
    }

    // Size Medium.
    .font-size-md & {

        > ul > li > ul {
            top: 40px;
        }

        > ul > li > div {
            height: 34px;
        }

        img {
            max-height: 24px;
        }
    }

    // Size Large.
    .font-size-lg & {

        > ul > li > ul {
            top: 43px;
        }

        > ul > li > div {
            height: 37px;
        }

        img {
            max-height: 27px;
        }
    }

    // Size Extra Large.
    .font-size-xl & {

        > ul > li > ul {
            top: 49px;
        }

        > ul > li > div {
            height: 43px;
        }

        img {
            max-height: 33px;
        }
    }

}

//======================================================//
//===== END "Logo" Font-Size Option Handling Block =====//
//======================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

header {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        color: theme-text($theme, 'primary');

    }}

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//=============================//
//==== START General Block ====//
//=============================//

header {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        hr {
            border-style: solid;
            border-color: theme-background($theme, 'border');
        }

        .header-top {
            background-color: theme-background($theme, 'primary');
            border-bottom: 1px solid theme-background($theme, 'border');
        }

        .header-bottom {
            border-top: 1px solid theme-border($theme, 'border');
        }

    }}

}

//=============================//
//===== END General Block =====//
//=============================//


//==========================//
//==== START Logo Block ====//
//==========================//

header .site-logo > nav {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        > ul > li > ul > li {
            border: 1px solid theme-border($theme, 'border');
            border-top: 0;
        }

        > ul > li > ul > li:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

    }}

}

//==========================//
//===== END Logo Block =====//
//==========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

header {
    li, li:link, li:visited, li:hover {
    @include transition(all 0.3s ease-out);
}

    li:before, li:after {
        @include transition(all 0.3s ease-out);
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//
