
//=================//
//==== Nav CSS ====//
//=================//

// Import statements
@import '_variables';
@import '_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//========================================//
//==== START General Header Nav Block ====//
//========================================//

header {

    nav {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(flex-end);
        @include flex(1);

        min-height: 28px;

        // Change alignment on larger screens.
        @media only screen and (min-width: $screen-tablet-mid) {
            @include justify-content(space-evenly);
        }
    }

    nav {

        // Main-nav properties.
        ul {
            display: none;
            @include flex-direction(row);
            @include justify-content(flex-end);
            @include flex(1);

            // Show on larger screens.
            @media only screen and (min-width: $screen-tablet-mid) {
                @include display-flex;
            }
        }

        ul > li {
            padding-right: 5px;
            padding-left: 5px;
        }

        // Sub-nav properties.
        ul > li > ul {
            position: absolute;

            display: none;
            @include flex-direction(column);
            @include justify-content(space-around);
        }

        ul > li > ul > li {
            padding: 2px;
        }

        // Toggle sub-nav on hover.
        ul > li:hover > ul, ul > li:hover > ul:hover {
            @include display-flex;
        }

        // Nav link properties.
        a {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-around);
            @include flex(1);

            padding-top: 5px;
            padding-right: 20px;
            padding-bottom: 5px;
            padding-left: 20px;
        }
    }
}

//========================================//
//===== END General Header Nav Block =====//
//========================================//


//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

.mobile-nav-icon {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);

    width: 28px;
    height: 20px;
    padding: 5px;
    margin-top: 3px;
    margin-right: 2vw;
    margin-bottom: 3px;
    margin-left: 2vw;

    // Hide on larger screens.
    @media only screen and (min-width: $screen-tablet-mid) {
        display: none;
    }
}

.mobile-nav-icon {
    hr {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

.header-bottom {

    nav {
        display: flex;
    }

    nav {
        ul {
            @include display-flex;
            @include flex-direction(column);
        }

        ul > li > ul {
            position: relative;

            display: none;
            @include flex-direction(row);
            @include flex-wrap(wrap);
        }
    }
}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {
    position: absolute;

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    min-width: 100vw;
    min-height: 100vh;
}

.mobile-nav-overlay {

    nav {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        width: 75vw;
        height: 75vh;
    }

    nav {

        ul {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
        }

        > ul {
            width: 90%;
        }

        li {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            width: 100%;
        }

        a {
            padding-top: 1vh;
            padding-bottom: 1vh;

            width: 100%;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//
*/

//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//================================//
//==== START Header Nav Block ====//
//================================//

header, .mobile-nav-overlay {

    nav {

        a {
            font-weight: bold;
            color: $theme-nav-text;
            text-align: center;
            text-decoration: none;
        }
    }
}

//===============================//
//===== END HeaderNav Block =====//
//===============================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

.header-bottom {

    nav {
        ul > li > ul > li > a {
            font-size: 80%;
        }

    }
}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {

    nav {

        a {
            font-size: 150%;
            font-weight: bold;
            color: $theme-nav-text;
            text-align: center;
            text-decoration: none;
        }

        ul > li > ul a {
            font-size: 125%;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//*/


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//================================//
//==== START Header Nav Block ====//
//================================//

header {

    nav {

        ul {
            list-style-type: none;
            background-color: $theme-nav-background;
        }
    }
}


//===============================//
//===== END HeaderNav Block =====//
//===============================//


//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

.mobile-nav-icon {
    border: 1px solid $theme-border;
    border-radius: 5px;
}

.mobile-nav-icon {

    hr {
        border: 0;
        border-top: 1px solid $theme-border;
    }
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

.header-bottom {

    nav {
        ul > li {
            border-bottom: 1px solid $theme-border;
        }

        ul > li > ul > li {
            border: 0px;
        }
    }
}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {
    background-color: $theme-nav-overlay-background;
}

.mobile-nav-overlay {

    nav {
        background-color: $theme-nav-overlay-foreground;
    }

    nav {

        ul {
            list-style-type: none;
        }

        > ul > li {
            border-bottom: 1px solid $theme-nav-overlay-background;
        }

        > ul > li:first-child {
            border-top: 1px solid $theme-nav-overlay-background;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//*/


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

.mobile-nav-icon {
    cursor: pointer;
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//
