
//=================//
//==== Nav CSS ====//
//=================//

// Import statements
@import 'variables/_core';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//========================================//
//==== START General Header Nav Block ====//
//========================================//

header nav {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include flex(1);

    // Change alignment on larger screens.
    @media only screen and (min-width: $screen-tablet-mid) {
        @include justify-content(space-evenly);
    }

    // Main-nav properties.
    > ul {
        position: relative;
        display: none;

        @include flex-direction(row);
        @include justify-content(flex-end);
        @include flex(1);

        // Show on larger screens.
        @media only screen and (min-width: $screen-tablet-mid) {
            @include display-flex;
            @include align-items(center);

            margin-right: 1vw;
            margin-left: 1vw;
        }
    }

    > ul > hr {
        padding: 0;
        margin: 0;
        margin-top: 3px;
        margin-bottom: 3px;

        @media only screen and (max-width: $screen-tablet-mid) {
            display: none;
        }
    }

    > ul > li {
        position: relative;

        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
    }

    // Sub-nav properties.
    > ul > li > ul {
        position: absolute;
        right: 0;
        left: 0;
        display: none;

        @include flex-direction(column);
        @include justify-content(space-around);

        margin-left: 5px;
        margin-right: 5px;
    }

    > ul > li > ul > li {
        position: relative;

        padding: 2px;
    }

    // Toggle sub-nav on hover or focus.
    > ul > li:hover > ul, ul > li:hover > ul:hover,
    > ul > li:focus-within > ul, ul > li > ul:focus-within {
        @include display-flex;
    }

    // Nav link properties.
    a, p {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(center);
        @include flex(1);

        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
    }
}

//========================================//
//===== END General Header Nav Block =====//
//========================================//


//====================================================================//
//==== START "General Header Nav" Font-Size Option Handling Block ====//
//====================================================================//

header nav {

    // Size Extra Small.
    .font-size-xs & {

        > ul > hr {
            height: 19px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 33px;
            }
        }
    }

    // Size Small.
    .font-size-sm & {

        > ul > hr {
            height: 21px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 35px;
            }
        }
    }

    // Size Default.
    .font-size-base & {

        > ul > hr {
            height: 25px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 38px;
            }
        }
    }

    // Size Medium.
    .font-size-md & {

        > ul > hr {
            height: 26px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 40px;
            }
        }
    }

    // Size Large.
    .font-size-lg & {

        > ul > hr {
            height: 29px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 43px;
            }
        }
    }

    // Size Extra Large.
    .font-size-xl & {

        > ul > hr {
            height: 35px;
        }

        > ul > li > ul {
            @media only screen and (min-width: $screen-tablet-mid) {
                top: 49px;
            }
        }
    }

}

//====================================================================//
//===== END "General Header Nav" Font-Size Option Handling Block =====//
//====================================================================//


//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

.mobile-nav-icon {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    width: 28px;
    padding: 5px;
    margin-top: 3px;
    margin-right: 3vw;
    margin-bottom: 3px;
    margin-left: 2vw;

    // Hide on larger screens.
    @media only screen and (min-width: $screen-tablet-mid) {
        display: none;
    }

    hr {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//


//=================================================================//
//==== START "Mobile Nav Icon" Font-Size Option Handling Block ====//
//=================================================================//

.mobile-nav-icon {

    // Size Extra Small.
    .font-size-xs & {
        height: 14px;
    }

    // Size Small.
    .font-size-sm & {
        height: 16px;
    }

    // Size Default.
    .font-size-base & {
        height: 19px;
    }

    // Size Medium.
    .font-size-md & {
        height: 21px;
    }

    // Size Large.
    .font-size-lg & {
        height: 24px;
    }

    // Size Extra Large.
    .font-size-xl & {
        height: 30px;
    }

}

//=================================================================//
//===== END "Mobile Nav Icon" Font-Size Option Handling Block =====//
//=================================================================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

.header-bottom {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;

    nav {
        @include display-flex;

        ul {
            @include display-flex;
            @include flex-direction(column);
        }

        ul > li > ul {
            position: relative;

            display: none;
            @include flex-direction(row);
            @include flex-wrap(wrap);
        }

        ul > li > ul > li {
            min-height: 24px;

            > a {
                min-height: 14px;
            }
        }
    }
}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


//=====================================================================//
//==== START "Mobile Nav Dropdown" Font-Size Option Handling Block ====//
//=====================================================================//

.header-bottom {

    // Size Extra Small.
    .font-size-xs & {
        top: 34px;
    }

    // Size Small.
    .font-size-sm & {
        top: 36px;
    }

    // Size Default.
    .font-size-base & {
        top: 39px;
    }

    // Size Medium.
    .font-size-md & {
        top: 41px;
    }

    // Size Large.
    .font-size-lg & {
        top: 44px;
    }

    // Size Extra Large.
    .font-size-xl & {
        top: 50px;
    }

}

//=====================================================================//
//===== END "Mobile Nav Dropdown" Font-Size Option Handling Block =====//
//=====================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//================================//
//==== START Header Nav Block ====//
//================================//

header nav {

    a, p {
        font-weight: bold;
        color: inherit;
        text-align: center;
        text-decoration: none;
    }

    a, p {
        color: inherit;
    }

}

//================================//
//===== END Header Nav Block =====//
//================================//


//===============================================//
//==== START "Header Nav" Theme Colors Block ====//
//===============================================//

header nav {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        li {
            color: theme-text($theme, 'primary');
        }

        li:hover {
            color: theme-text($theme, 'primary-hover');
        }

    }}

}

//===============================================//
//===== END "Header Nav" Theme Colors Block =====//
//===============================================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

.header-bottom nav {

    ul > li > ul > li > a {

        @each $font-option, $font-option-value in $font-size-options {
        .font-size-#{$font-option} & {

            font-size: font-option($font-option) * 0.80;

        }}

    }
}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//================================//
//==== START Header Nav Block ====//
//================================//

header nav {

    ul {
        list-style-type: none;
    }
}

header .header-top nav {

    > ul > li > ul > li {
        border-top: 0;
    }

    > ul > li > ul > li:last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}

//================================//
//===== END Header Nav Block =====//
//================================//


//===============================================//
//==== START "Header Nav" Theme Colors Block ====//
//===============================================//

header nav {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        li {
            background-color: theme-background($theme, 'primary');
        }

        li:hover {
            background-color: theme-background($theme, 'highlight');
        }

    }}

}

header .header-top nav {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        > ul > li > ul > li {
            border: 1px solid theme-background($theme, 'border');
        }

    }}

}

//===============================================//
//===== END "Header Nav" Theme Colors Block =====//
//===============================================//


//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

header nav .mobile-nav-icon {

    border-radius: 5px;

    hr {
        border: 0;
    }
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//


//====================================================//
//==== START "Mobile Nav Icon" Theme Colors Block ====//
//====================================================//

header nav .mobile-nav-icon {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        border: 1px solid theme-background($theme, 'border');

        hr {
            border-top: 1px solid theme-background($theme, 'border');
        }

    }}

}

//====================================================//
//===== END "Mobile Nav Icon" Theme Colors Block =====//
//====================================================//


//=========================================//
//==== START Mobile Nav Dropdown Block ====//
//=========================================//

header .header-bottom nav {

    ul > li > ul > li {
        border: 0px;
        border-radius: 3px;
    }

}

//=========================================//
//===== END Mobile Nav Dropdown Block =====//
//=========================================//


//========================================================//
//==== START "Mobile Nav Dropdown" Theme Colors Block ====//
//========================================================//

header .header-bottom nav {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        ul > li {
            border-bottom: 1px solid theme-background($theme, 'border');
        }

    }}

}

//========================================================//
//===== END "Mobile Nav Dropdown" Theme Colors Block =====//
//========================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//=====================================//
//==== START Mobile Nav Icon Block ====//
//=====================================//

.mobile-nav-icon {
    cursor: pointer;
}

//=====================================//
//===== END Mobile Nav Icon Block =====//
//=====================================//
