
//===================//
//==== Reset CSS ====//
//===================//

// Import statements
@import '_variables';
@import '_mixins';

// "Resets" standard html elements to predictable values for all browsers.


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//=====================================//
//==== START General Element Block ====//
//=====================================//

html {
    margin: 0;
    padding: 0;
}

@each $html_element in $html_element_list {
    #{$html_element} {
        margin: 0;
        padding: 0;
    }
}

@each $header_element in $header_element_list {
    #{$header_element} {
        padding-top: 10px;
    }
}

//=====================================//
//===== END General Element Block =====//
//=====================================//


//====================================//
//==== START Printer Styles Block ====//
//====================================//

@page {
    margin: 1.5cm;
}

//====================================//
//===== END Printer Styles Block =====//
//====================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//==================================//
//==== START Font Styling Block ====//
//==================================//

@media only screen {
    html {
        font-family: 'Source Sans Pro', 'Open Sans', 'Lato', sans-serif;
    }

    a, p, button, .button {
        font-family: 'Open Sans', 'Lato', 'Source Sans Pro', sans-serif;
    }
}

@media only print {
    html {
        font-family: 'Lora', 'PT Serif', serif;
    }
}

//==================================//
//===== END Font Styling Block =====//
//==================================//


//===============================//
//==== START Font Size Block ====//
//===============================//

html {
    // Font size for mobile devices seems to be 12px, as recommended by
    // https://ux.stackexchange.com/questions/102813/minimum-font-size-for-mobile-view
    font-size: 12px;

    @media only screen and (min-width: $screen-tablet-mid) {
        font-size: 16px;
    }
}

// Set general font sizes for all basic html elements.
@each $html_element in $html_element_list {
    #{$html_element} {
        @media only screen {
            @each $font-option, $font-option-value in $font-size-options {
                .font-size-#{$font-option} & {
                    font-size: font-option($font-option);
                }
            }
        }
    }
}

// Set header font sizes for screen displays.
@media only screen {
    @each $font-option, $font-option-value in $font-size-options {

        .font-size-#{$font-option} h1 {
            font-size: font-option($font-option) * 2;
        }

        .font-size-#{$font-option} h2 {
            font-size: font-option($font-option) * 1.74;
        }

        .font-size-#{$font-option} h3 {
            font-size: font-option($font-option) * 1.51;
        }

        .font-size-#{$font-option} h4 {
            font-size: font-option($font-option) * 1.32;
        }

        .font-size-#{$font-option} h5 {
            font-size: font-option($font-option) * 1.15;
        }

        .font-size-#{$font-option} h6 {
            font-size: font-option($font-option) * 1.05;
        }
    }
}

// Set header font sizes for print displays.
@media only print {
    font-size: 11px;

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 174%;
    }

    h3 {
        font-size: 151%;
    }

    h4 {
        font-size: 132%;
    }

    h5 {
        font-size: 115%;
    }

    h6 {
        font-size: 100%;
    }
}

@each $header_element in $header_element_list {
    #{$header_element} {
        text-align: center;
    }
}



//===============================//
//===== END Font Size Block =====//
//===============================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

html {
    vertical-align: baseline;

    border: 0;
}

@each $html_element in $html_element_list {
    #{$html_element} {
        vertical-align: baseline;

        border: 0;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//



//===========================//
//===== END ----- Block =====//
//===========================//
