
//=======================//
//==== Variables CSS ====//
//=======================//

// Declares variables that are universally used in other .scss files.


// To reference this outside of the CAE_Home app, use:
// @import '../../../../../../../cae_home/static/cae_home/css/sass/_variables';
//
// On the off chance that you need additional variables specific to a given app:
//  * Create a new "_variables" in that app's "css/sass" folder.
//  * Reference this file from the app-specific variables file.
//  * From then on, access both by importing the app-specific variables file in
//    all further app-specific sass files.

//================================================================================//
//==================================== Colors ====================================//
//================================================================================//

//===============================//
//==== START GreyScale Block ====//
//===============================//

$color-grey-00: #000000;    // Black
$color-grey-10: #191919;    //  ^
$color-grey-20: #333333;    //  |
$color-grey-30: #4c4c4c;    //  | Darker
$color-grey-40: #666666;    //  |
$color-grey-50: #7f7f7f;    //  Scaling by 10% gradients.
$color-grey-60: #999999;    //  |
$color-grey-70: #b2b2b2;    //  | Ligher
$color-grey-80: #cccccc;    //  |
$color-grey-90: #e5e5e5;    //  v
$color-grey-95: #f2f2f2;
$color-grey-100: #ffffff;   // White

//===============================//
//===== END GreyScale Block =====//
//===============================//


//===========================================//
//==== START Transparent Greyscale Block ====//
//===========================================//

$color-black: rgb(0, 0, 0);
$color-trans-black-75: rgba(0, 0, 0, 0.75);
$color-trans-black-50: rgba(0, 0, 0, 0.50);
$color-trans-black-25: rgba(0, 0, 0, 0.25);
$color-grey: rgb(127, 127, 127);
$color-trans-grey-75: rgba(127, 127, 127, 0.75);
$color-trans-grey-50: rgba(127, 127, 127, 0.50);
$color-trans-grey-25: rgba(127, 127, 127, 0.25);
$color-white: rgb(255, 255, 255);
$color-trans-white-75: rgba(255, 255, 255, 0.75);
$color-trans-white-50: rgba(255, 255, 255, 0.50);
$color-trans-white-25: rgba(255, 255, 255, 0.25);

//===========================================//
//===== END Transparent GreyScale Block =====//
//===========================================//

//===========================================//
//==== START "WMU Approved" Colors Block ====//
//===========================================//

// WMU's official guidelines say these "must be used on all materials to
// ensure proper color combinations". Realistically, that's overkill.

// Provided as reference anyway, in case such information is ever helpful.
// At the end of the day, just be consistent and try to make it look good.

// "Primary" WMU Colors.
$wmu-gold: #ffae00;
$wmu-brown: #442416;

// "Secondary" WMU Colors.
$wmu-chocolate: #7c5826;
$wmu-khaki: #c0aa71;
$wmu-sienna: #a9431e;
$wmu-tangerine: #d87c21;
$wmu-light-tan: #ede1aa;

// "Accent" WMU Colors.
$wmu-teal: #0b645d;
$wmu-red: #b91233;
$wmu-plum: #865f7f;
$wmu-sky-blue: #0091c1;
$wmu-green-apple: #7ab700;
$wmu-black: #000000;
$wmu-dark-grey: #816f5f;
$wmu-warm-grey: #bdb1a7;
$wmu-metallic-gold: #8b6f4e;
$wmu-metallic-brown: #594839;
$wmu-metallic-silver: #8a8d8f;

//=========================================//
//==== END "WMU Approved" Colors Block ====//
//=========================================//


//==================================//
//==== START Other Colors Block ====//
//==================================//



//================================//
//==== END Other Colors Block ====//
//================================//

//================================================================================//
//==================================== Themes ====================================//
//================================================================================//

// Theme is the actual pallet used on the site.
//
// Ideally, add variables here (prefixed with "theme") and then reference
// said variable later on. Allows for changing of the entire site coloring with
// a single line or two, instead of having to dig through all of the css files.

//================================//
//==== START Theme Dict Block ====//
//================================//

$theme-colors: (
    'wmu': (
        'background': (
            'primary': #fcc30f,
            'highlight': #986516,
            'border': #c67f00,
            'content': $color-grey-100,
        ),
        'text': (
            'primary': $color-grey-00,
            'primary-accent': $color-trans-black-75,
            'primary-subtle': $color-trans-black-50,
            'primary-hint': $color-trans-black-25,
            'secondary': #986516,
            'secondary-accent': $color-trans-black-75,
            'secondary-subtle': $color-trans-black-50,
            'secondary-hint': $color-trans-black-25,
            'secondary-hover': $color-grey-100,
            'link': #986516,
        ),
        'status': (
            'default': (
                'primary': #fcc30f,
                'highlight': #fff553,
                'darken': #c49300,
                'text': #8f6600,
            ),
            'info': (
                'primary': $wmu-sky-blue,
                'highlight': #5ac1f4,
                'darken': #006390,
                'text': #003962,
            ),
            'success': (
                'primary': $wmu-green-apple,
                'highlight': #aeea48,
                'darken': #478700,
                'text': #105900,
            ),
            'warn': (
                'primary': #e87f17,
                'highlight': #ffaf4c,
                'darken': #b05100,
                'text': #7b2400,
            ),
            'error': (
                'primary': $wmu-red,
                'highlight': #f2515c,
                'darken': #81000e,
                'text': #4f0000,
            ),
        ),
    ),

    'cae': (
        'background': (
            'primary': $color-grey-90,
            'highlight': $color-grey-95,
            'border': $color-grey-80,
            'content': $color-grey-100,
        ),
        'text': (
            'primary': $color-grey-00,
            'primary-accent': $color-trans-black-75,
            'primary-subtle': $color-trans-black-50,
            'primary-hint': $color-trans-black-25,
            'secondary': $color-grey-00,
            'secondary-accent': $color-trans-black-75,
            'secondary-subtle': $color-trans-black-50,
            'secondary-hint': $color-trans-black-25,
            'secondary-hover': $color-grey-00,
            'link': #0000ee,
        ),
        'status': (
            'default': (
                'primary': $color-grey-90,
                'highlight': $color-grey-95,
                'darken': $color-grey-80,
                'text': $color-grey,
            ),
            'info': (
                'primary': #ddddf4,
                'highlight': #e9e9fc,
                'darken': #c1c1f0,
                'text': #5c5cd6,
            ),
            'success': (
                'primary': #d1f0d1,
                'highlight': #e9fce9,
                'darken': #adebad,
                'text': #18b418,
            ),
            'warn': (
                'primary': #faf2d1,
                'highlight': #fcf5e9,
                'darken': #eee2aa,
                'text': #df9f20,
            ),
            'error': (
                'primary': #f5dbd6,
                'highlight': #fce9e9,
                'darken': #f0c9c2,
                'text': #ec8379,
            ),
        ),
    ),

    'light': (
        'background': (
            'primary': $color-grey-90,
            'highlight': $color-grey-95,
            'border': $color-grey-80,
            'content': $color-grey-100,
        ),
        'text': (
            'primary': $color-grey-00,
            'primary-accent': $color-trans-black-75,
            'primary-subtle': $color-trans-black-50,
            'primary-hint': $color-trans-black-25,
            'secondary': $color-grey-00,
            'secondary-accent': $color-trans-black-75,
            'secondary-subtle': $color-trans-black-50,
            'secondary-hint': $color-trans-black-25,
            'secondary-hover': $color-grey-00,
            'link': #0000ee,
        ),
        'status': (
            'default': (
                'primary': $color-grey-90,
                'highlight': $color-grey-95,
                'darken': $color-grey-80,
                'text': $color-grey,
            ),
            'info': (
                'primary': #ddddf4,
                'highlight': #e9e9fc,
                'darken': #c1c1f0,
                'text': #5c5cd6,
            ),
            'success': (
                'primary': #d1f0d1,
                'highlight': #e9fce9,
                'darken': #adebad,
                'text': #18b418,
            ),
            'warn': (
                'primary': #faf2d1,
                'highlight': #fcf5e9,
                'darken': #eee2aa,
                'text': #df9f20,
            ),
            'error': (
                'primary': #f5dbd6,
                'highlight': #fce9e9,
                'darken': #f0c9c2,
                'text': #ec8379,
            ),
        ),
    ),

    'dark': (
        'background': (
            'primary': $color-grey-90,
            'highlight': $color-grey-95,
            'border': $color-grey-80,
            'content': $color-grey-100,
        ),
        'text': (
            'primary': $color-grey-00,
            'primary-accent': $color-trans-black-75,
            'primary-subtle': $color-trans-black-50,
            'primary-hint': $color-trans-black-25,
            'secondary': $color-grey-00,
            'secondary-accent': $color-trans-black-75,
            'secondary-subtle': $color-trans-black-50,
            'secondary-hint': $color-trans-black-25,
            'secondary-hover': $color-grey-00,
            'link': #0000ee,
        ),
        'status': (
            'default': (
                'primary': $color-grey-90,
                'highlight': $color-grey-95,
                'darken': $color-grey-80,
                'text': $color-grey,
            ),
            'info': (
                'primary': #ddddf4,
                'highlight': #e9e9fc,
                'darken': #c1c1f0,
                'text': #5c5cd6,
            ),
            'success': (
                'primary': #d1f0d1,
                'highlight': #e9fce9,
                'darken': #adebad,
                'text': #18b418,
            ),
            'warn': (
                'primary': #faf2d1,
                'highlight': #fcf5e9,
                'darken': #eee2aa,
                'text': #df9f20,
            ),
            'error': (
                'primary': #f5dbd6,
                'highlight': #fce9e9,
                'darken': #f0c9c2,
                'text': #ec8379,
            ),
        ),
    ),

);

//==============================//
//==== End Theme Dict Block ====//
//==============================//


//=====================================//
//==== START Theme Functions Block ====//
//=====================================//

@function theme-background($theme, $style) {
    @return map-get(map-get(map-get($theme-colors, $theme), 'background'), $style);
}

@function theme-text($theme, $style) {
    @return map-get(map-get(map-get($theme-colors, $theme), 'text'), $style);
}

@function theme-status($theme, $status, $style) {
    @return map-get(map-get(map-get(map-get($theme-colors, $theme), 'status'), $status), $style);
}

//===================================//
//==== End Theme Functions Block ====//
//===================================//


//================================================================================//
//================================== ScreenSize ==================================//
//================================================================================//

// Phone
$screen-phone-small: 475px;
$screen-phone-mid: 550px;
$screen-phone-max: 699px;

// Tablet
$screen-tablet-min: 700px;
$screen-tablet-mid: 869px;
$screen-tablet-max: 1024px;

// Laptop
$screen-laptop-min: 1025px;
$screen-laptop-mid: 1350px;
$screen-laptop-max: 1600px;

// Desktop
$screen-desktop-min: 1601px;
$screen-desktop-mid: 2000px;
$screen-desktop-max: 3839px;

// 4k
$screen-4k-min: 3840px;
