<nav class="nav-header-main">

  <ul>
    <li><a href="{% url 'cae_home:index' %}">Home</a></li>
    {% if user.is_authenticated %}
      <li>
        <p href="">{{ user.get_username }}</p>
        <ul>
          {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
          {% endif %}
          <li><a href="{% url 'cae_home:logout' %}">Logout</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href="{% url 'cae_home:login' %}">Login</a></li>
    {% endif %}
  </ul>

  <div class="mobile-nav-icon">
    <hr>
    <hr>
    <hr>
  </div>

</nav>
