
{% load static %}

<nav>
  <ul>
    <li>
      <div>
        <img src="{% static 'cae_home/images/cae_icons/brown_small.png' %}" alt="CAE Center">
      </div>
      <ul>
        {% for project in imported_projects %}
          {% if project.index and project.index != '' %}
            <li>
              <a href="{% url project.index %}">{{ project.name }}</a>
            </li>
          {% else %}
            <li><a href="{% url 'cae_home:index' %}">{{ project.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
