html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
}

html {
  font-family: "Source Sans Pro", "Open Sans", "Lato", sans-serif;
}

p {
  font-family: "Open Sans", "Lato", "Source Sans Pro", sans-serif;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  font-size: 4.5vw;
}
@media only screen and (min-width: 400px) and (max-width: 475px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 475px) and (max-width: 550px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.4vw;
  }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.7vw;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.1vw;
  }
}
@media only screen and (min-width: 869px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.8vw;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.4vw;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.1vw;
  }
}
@media only screen and (min-width: 1601px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 0.9vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 174%;
}

h3 {
  font-size: 151%;
}

h4 {
  font-size: 132%;
}

h5 {
  font-size: 115%;
}

h6 {
  font-size: 100%;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  vertical-align: baseline;
  border: 0;
}

html {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body main .placeholder {
  min-width: 2vw;
}
body main #content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body main #content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body {
  color: #000000;
}

body #content {
  background-color: #ffffff;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

header {
  background-color: #e5e5e5;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

footer {
  background-color: #e5e5e5;
}

header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 28px;
}
@media only screen and (min-width: 869px) {
  header nav {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -justify-content: space-around;
    -mox-justify-content: space-evenly;
  }
}
header nav ul {
  display: none;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (min-width: 869px) {
  header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
header nav ul > li {
  padding-right: 5px;
  padding-left: 5px;
}
header nav ul > li > ul {
  position: absolute;
  display: none;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
header nav ul > li > ul > li {
  padding: 2px;
}
header nav ul > li:hover > ul, header nav ul > li:hover > ul:hover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header nav a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.mobile-nav-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 32px;
  margin-right: 2vw;
  margin-left: 2vw;
}
@media only screen and (min-width: 869px) {
  .mobile-nav-icon {
    display: none;
  }
}

.mobile-nav-icon hr {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.mobile-nav-overlay {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.mobile-nav-overlay nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
}
.mobile-nav-overlay nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.mobile-nav-overlay nav > ul {
  width: 90%;
}
.mobile-nav-overlay nav li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
.mobile-nav-overlay nav a {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
}

header nav a, .mobile-nav-overlay nav a {
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.mobile-nav-overlay nav a {
  font-size: 150%;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.mobile-nav-overlay nav ul > li > ul a {
  font-size: 125%;
}

header nav ul {
  list-style-type: none;
  background-color: #e5e5e5;
}

.mobile-nav-overlay {
  background-color: rgba(204, 204, 204, 0.8);
}

.mobile-nav-overlay nav {
  background-color: rgba(255, 255, 255, 0.9);
}
.mobile-nav-overlay nav ul {
  list-style-type: none;
}
.mobile-nav-overlay nav > ul > li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}
.mobile-nav-overlay nav > ul > li:first-child {
  border-top: 1px solid rgba(204, 204, 204, 0.8);
}

.mobile-nav-icon {
  cursor: pointer;
}

/*# sourceMappingURL=css/base.css.map */
