html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 10px; }

@page {
  margin: 1.5cm; }
@media only screen {
  html {
    font-family: 'Source Sans Pro', 'Open Sans', 'Lato', sans-serif; }

  p, button, .button {
    font-family: 'Open Sans', 'Lato', 'Source Sans Pro', sans-serif; } }
@media only print {
  html {
    font-family: 'Lora', 'PT Serif', serif; } }
@media only screen {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 4.5vw; } }
@media only screen and (min-width: 400px) and (max-width: 475px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 3.8vw; } }
@media only screen and (min-width: 475px) and (max-width: 550px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 3.4vw; } }
@media only screen and (min-width: 550px) and (max-width: 699px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 2.7vw; } }
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 2.1vw; } }
@media only screen and (min-width: 869px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 1.8vw; } }
@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 1.4vw; } }
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 1.1vw; } }
@media only screen and (min-width: 1601px) {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 0.9vw; } }
@media only print {
  html, body, hgroup, header, footer, nav,
  article, section, aside, figure, figcaption,
  h1, h2, h3, h4, h5, h6,
  ol, ul, li,
  div, span, p, img, a, button {
    font-size: 11px; } }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 174%; }

h3 {
  font-size: 151%; }

h4 {
  font-size: 132%; }

h5 {
  font-size: 115%; }

h6 {
  font-size: 100%; }

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  vertical-align: baseline;
  border: 0; }

html {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh; }
  @media only print {
    html {
      display: block; } }

body {
  position: relative;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 40px auto auto 35px;
  grid-template-areas: "header header header header" "main-placeholder-left main main main-placeholder-right" "main-placeholder-left main main main-placeholder-right" "footer footer footer footer";
  min-height: 100vh;
  height: auto; }
  @media only screen and (min-width: 869px) {
    body {
      grid-template-columns: 15% 35% 35% 15%;
      grid-template-rows: 40px auto auto 35px; } }
  @media only print {
    body {
      display: block; } }
  body header {
    position: relative;
    z-index: 10;
    grid-area: header; }
    @media only print {
      body header {
        display: none; } }
  body main {
    position: relative;
    z-index: 5;
    grid-area: main; }
    @media only print {
      body main {
        display: block; } }
  body #main-placeholder-left {
    position: relative;
    z-index: 5;
    grid-area: main-placeholder-left; }
    @media only print {
      body #main-placeholder-left {
        display: none; } }
  body #main-placeholder-right {
    position: relative;
    z-index: 5;
    grid-area: main-placeholder-right; }
    @media only print {
      body #main-placeholder-right {
        display: none; } }
  body footer {
    position: relative;
    z-index: 10;
    grid-area: footer; }
    @media only print {
      body footer {
        display: none; } }

body {
  color: #000000; }

body #content {
  background-color: #ffffff; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 40px; }
  header .header-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 40px; }
  header .header-bottom {
    display: none; }

header .site-logo {
  height: 100%; }
  header .site-logo > nav {
    width: 100%;
    height: 100%; }
    header .site-logo > nav > ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-right: 1vw;
      margin-left: 1vw;
      width: 100%; }
    header .site-logo > nav > ul > li {
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px; }
    header .site-logo > nav > ul > li > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: 100%;
      height: 34px; }
    header .site-logo > nav > ul > li > ul {
      top: 40px; }
    header .site-logo > nav img {
      max-width: 66px;
      max-height: 26px;
      margin-right: 10px;
      margin-left: 10px; }
      @media only screen and (min-width: 869px) {
        header .site-logo > nav img {
          max-width: 66px;
          max-height: 22px; } }

header {
  background-color: #e5e5e5;
  border-bottom: 1px solid #cccccc; }
  header .header-bottom {
    border-top: 1px solid #cccccc; }

header .site-logo > nav > ul > li > ul > li {
  border: 1px solid #cccccc;
  border-top: 0; }
header .site-logo > nav > ul > li > ul > li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

header li, header li:link, header li:visited, header li:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
header li:before, header li:after {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

footer {
  background-color: #e5e5e5;
  border-top: 1px solid #cccccc; }

header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media only screen and (min-width: 869px) {
    header nav {
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      -justify-content: space-around;
      -mox-justify-content: space-evenly; } }
  header nav > ul {
    position: relative;
    display: none;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media only screen and (min-width: 869px) {
      header nav > ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-right: 1vw;
        margin-left: 1vw; } }
  header nav > ul > hr {
    height: 25px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-right: 2px;
    margin-bottom: 3px;
    margin-left: 2px; }
    @media only screen and (max-width: 869px) {
      header nav > ul > hr {
        display: none; } }
  header nav > ul > li {
    position: relative;
    min-height: 34px;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px; }
  header nav > ul > li > ul {
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    /*@include align-items(center);*/
    margin-left: 5px;
    margin-right: 5px; }
    @media only screen and (min-width: 869px) {
      header nav > ul > li > ul {
        top: 39px; } }
  header nav > ul > li > ul > li {
    position: relative;
    padding: 2px; }
  header nav > ul > li:hover > ul, header nav ul > li:hover > ul:hover {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  header nav a, header nav p {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px; }

.mobile-nav-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 28px;
  height: 20px;
  padding: 5px;
  margin-top: 3px;
  margin-right: 3vw;
  margin-bottom: 3px;
  margin-left: 2vw; }
  @media only screen and (min-width: 869px) {
    .mobile-nav-icon {
      display: none; } }
  .mobile-nav-icon hr {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0; }

.header-bottom {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0; }
  .header-bottom nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header-bottom nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header-bottom nav ul > li > ul {
      position: relative;
      display: none;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

header nav a, header nav p {
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none; }

.header-bottom nav ul > li > ul > li > a {
  font-size: 80%; }

header nav ul {
  list-style-type: none; }
header nav li {
  background-color: #e5e5e5; }
header nav li:hover {
  background-color: #f2f2f2; }

header .header-top nav > ul > li > ul > li {
  border: 1px solid #cccccc;
  border-top: 0; }
header .header-top nav > ul > li > ul > li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.mobile-nav-icon {
  border: 1px solid #cccccc;
  border-radius: 5px; }
  .mobile-nav-icon hr {
    border: 0;
    border-top: 1px solid #cccccc; }

.header-bottom nav ul > li {
  border-bottom: 1px solid #cccccc; }
.header-bottom nav ul > li > ul > li {
  border: 0px;
  border-radius: 3px; }

.mobile-nav-icon {
  cursor: pointer; }

#content {
  padding-bottom: 10px; }
  #content ul {
    padding-left: 20px; }
  #content table {
    margin-right: auto;
    margin-left: auto; }
  #content td {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px; }

@media only print {
  #content .display-only-web {
    display: none !important; } }
@media only screen {
  #content .display-only-print {
    display: none !important; } }
#content .center {
  -webkit-flex-direction: center;
  -moz-flex-direction: center;
  -ms-flex-direction: center;
  flex-direction: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center; }
#content .javascript-warn {
  margin-right: auto;
  margin-top: 25px;
  margin-left: auto;
  margin-bottom: 25px; }

.hidden {
  display: none !important; }

.fade-out {
  padding: 0 !important;
  margin: 0 !important; }
  .fade-out * {
    padding: 0 !important;
    margin: 0 !important; }

button {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px; }

a.button {
  display: inline-block;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px; }

div.panel {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }
  div.panel a {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; }
  div.panel p > a {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  div.panel > .header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px; }
  div.panel > .content {
    padding: 10px; }
  div.panel > .footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px; }

#status-message-container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 !important; }
  #status-message-container a {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; }
  #status-message-container .message {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    padding: 10px; }
    #status-message-container .message > p:first-child {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    #status-message-container .message .exit {
      position: relative;
      right: 0;
      padding-top: 3px;
      padding-right: 8px;
      padding-bottom: 3px;
      padding-left: 8px;
      margin-right: 0.5%;
      margin-left: 0.5%; }

#content-bar-left, #content-bar-right {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%; }
  #content-bar-left > .bar-nav, #content-bar-right > .bar-nav {
    padding-top: 15px; }
  #content-bar-left > .bar-content, #content-bar-right > .bar-content {
    min-height: 100%;
    padding: 5px; }

#content-bar-left {
  left: 0; }
  #content-bar-left > .bar-nav {
    left: 0;
    order: 1; }

#content-bar-right {
  right: 0;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end; }
  #content-bar-right > .bar-nav {
    right: 0; }

.arrow-right:hover, .arrow-left:hover {
  background-color: white; }

#content .hover-highlight:hover {
  background-color: #e5e5e5; }
#content .javascript-warn {
  font-weight: bold;
  text-align: center; }

.fade-out * {
  font-size: 0px; }

button {
  color: #333333; }

button:hover {
  color: #000000; }

a.button {
  color: #333333;
  text-decoration: none; }

a.button:hover {
  color: #000000; }

div.panel a {
  font-weight: bold;
  color: #7f7f7f;
  text-decoration: none; }
div.panel > .header {
  font-size: 110%;
  font-weight: bold; }

div.panel.info a {
  color: #5c5cd6; }

div.panel.success a {
  color: #18b418; }

div.panel.warning a {
  color: #df9f20; }

div.panel.error a, div.panel.danger a {
  color: #ec8379; }

#status-message-container .message a {
  font-weight: bold;
  color: #7f7f7f;
  text-decoration: none; }
#status-message-container .message .exit {
  font-weight: bold;
  color: #7f7f7f; }
#status-message-container .message .exit:hover {
  font-weight: bold;
  color: #000000 !important; }
#status-message-container .message.info a {
  color: #5c5cd6; }
#status-message-container .message.info .exit {
  color: #5c5cd6; }
#status-message-container .message.success a {
  color: #18b418; }
#status-message-container .message.success .exit {
  color: #18b418; }
#status-message-container .message.warning a {
  color: #df9f20; }
#status-message-container .message.warning .exit {
  color: #df9f20; }
#status-message-container .message.error a, #status-message-container .message.danger a {
  color: #ec8379; }
#status-message-container .message.error .exit, #status-message-container .message.danger .exit {
  color: #ec8379; }

#content-bar-left > .bar-nav p, #content-bar-right > .bar-nav p {
  font-size: 150%;
  color: #e5e5e5; }
#content-bar-left > .bar-nav p:hover, #content-bar-right > .bar-nav p:hover {
  color: #000000; }

#content table {
  border: 1px solid #cccccc;
  border-collapse: collapse; }
#content td {
  border: 1px solid #cccccc; }

#content .javascript-warn {
  background-color: #b91233; }

.fade-in {
  opacity: 1;
  visibility: visible; }

.fade-out {
  opacity: 0;
  visibility: hidden; }

button {
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  border-radius: 5px; }

button:hover {
  background-color: #cccccc; }

button.info {
  background-color: #ddddf4;
  border: 1px solid #c1c1f0; }

button.info:hover {
  background-color: #c1c1f0; }

button.success {
  background-color: #d1f0d1;
  border: 1px solid #adebad; }

button.success:hover {
  background-color: #adebad; }

button.warning {
  background-color: #f9f2d2;
  border: 1px solid #eee2aa; }

button.warning:hover {
  background-color: #eee2aa; }

button.error, button.danger {
  background-color: #f5dbd6;
  border: 1px solid #f0c9c2; }

button.error:hover, button.danger:hover {
  background-color: #f0c9c2; }

a.button {
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  border-radius: 5px; }

a.button:hover {
  background-color: #cccccc; }

a.button.info {
  background-color: #ddddf4;
  border: 1px solid #c1c1f0; }

a.button.info:hover {
  background-color: #c1c1f0; }

a.button.success {
  background-color: #d1f0d1;
  border: 1px solid #adebad; }

a.button.success:hover {
  background-color: #adebad; }

a.button.warning {
  background-color: #f9f2d2;
  border: 1px solid #eee2aa; }

a.button.warning:hover {
  background-color: #eee2aa; }

a.button.error, .button.danger {
  background-color: #f5dbd6;
  border: 1px solid #f0c9c2; }

a.button.error:hover, .button.danger:hover {
  background-color: #f0c9c2; }

div.panel {
  background-color: #e5e5e5;
  border: 1px solid #cccccc; }
  div.panel a {
    border-radius: 5em; }
  div.panel a:hover {
    background-color: #e5e5e5; }
  div.panel > .header {
    border-bottom: 1px solid #cccccc; }
  div.panel > .content {
    background-color: #ffffff; }
  div.panel > .footer {
    border-top: 1px solid #cccccc; }

div.panel:hover {
  background-color: #f2f2f2; }

div.panel.info {
  background-color: #ddddf4;
  border: 1px solid #c1c1f0; }
  div.panel.info a:hover {
    background-color: #ddddf4; }
  div.panel.info > .header {
    border-bottom: 1px solid #c1c1f0; }
  div.panel.info > .footer {
    border-top: 1px solid #c1c1f0; }

div.panel.info:hover {
  background-color: #e9e9fc; }

div.panel.success {
  background-color: #d1f0d1;
  border: 1px solid #adebad; }
  div.panel.success a:hover {
    background-color: #d1f0d1; }
  div.panel.success > .header {
    border-bottom: 1px solid #adebad; }
  div.panel.success > .footer {
    border-top: 1px solid #adebad; }

div.panel.success:hover {
  background-color: #e9fce9; }

div.panel.warning {
  background-color: #f9f2d2;
  border: 1px solid #eee2aa; }
  div.panel.warning a:hover {
    background-color: #f9f2d2; }
  div.panel.warning > .header {
    border-bottom: 1px solid #eee2aa; }
  div.panel.warning > .footer {
    border-top: 1px solid #eee2aa; }

div.panel.warning:hover {
  background-color: #fcf5e9; }

div.panel.error, .panel.danger {
  background-color: #f5dbd6;
  border: 1px solid #f0c9c2; }
  div.panel.error a:hover, .panel.danger a:hover {
    background-color: #f5dbd6; }
  div.panel.error > .header, .panel.danger > .header {
    border-bottom: 1px solid #f0c9c2; }
  div.panel.error > .footer, .panel.danger > .footer {
    border-top: 1px solid #f0c9c2; }

div.panel.error:hover, .panel.danger:hover {
  background-color: #fce9e9; }

#status-message-container li {
  list-style-type: none; }
#status-message-container a, #status-message-container .exit {
  border-radius: 5em; }
#status-message-container .message {
  background-color: #e5e5e5;
  border: 1px solid #cccccc; }
  #status-message-container .message a:hover, #status-message-container .message .exit:hover {
    background-color: #e5e5e5; }
#status-message-container .message:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
#status-message-container .message:hover {
  background-color: #f2f2f2; }
#status-message-container .message.info {
  background-color: #ddddf4;
  border: 1px solid #c1c1f0; }
  #status-message-container .message.info a:hover, #status-message-container .message.info .exit:hover {
    background-color: #ddddf4; }
#status-message-container .message.info:hover {
  background-color: #e9e9fc; }
#status-message-container .message.success {
  background-color: #d1f0d1;
  border: 1px solid #adebad; }
  #status-message-container .message.success a:hover, #status-message-container .message.success .exit:hover {
    background-color: #d1f0d1; }
#status-message-container .message.success:hover {
  background-color: #e9fce9; }
#status-message-container .message.warning {
  background-color: #f9f2d2;
  border: 1px solid #eee2aa; }
  #status-message-container .message.warning a:hover, #status-message-container .message.warning .exit:hover {
    background-color: #f9f2d2; }
#status-message-container .message.warning:hover {
  background-color: #fcf5e9; }
#status-message-container .message.error, #status-message-container .message.danger {
  background-color: #f5dbd6;
  border: 1px solid #f0c9c2; }
  #status-message-container .message.error a:hover, #status-message-container .message.error .exit:hover, #status-message-container .message.danger a:hover, #status-message-container .message.danger .exit:hover {
    background-color: #f5dbd6; }
#status-message-container .message.error:hover, #status-message-container .message.danger:hover {
  background-color: #fce9e9; }

#content-bar-left > .bar-content, #content-bar-right > .bar-content {
  background-color: #e5e5e5;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc; }

#content .hover-highlight:hover {
  cursor: pointer; }

.fade-in {
  -webkit-transition: opacity 1s linear, visibility 0s 1s;
  -moz-transition: opacity 1s linear, visibility 0s 1s;
  -o-transition: opacity 1s linear, visibility 0s 1s;
  transition: opacity 1s linear, visibility 0s 1s; }

.fade-out {
  -webkit-transition: padding 0.9s, margin 0.9s, font-size 0.9s, opacity 0.9s linear, visibility 0s 0.9s;
  -moz-transition: padding 0.9s, margin 0.9s, font-size 0.9s, opacity 0.9s linear, visibility 0s 0.9s;
  -o-transition: padding 0.9s, margin 0.9s, font-size 0.9s, opacity 0.9s linear, visibility 0s 0.9s;
  transition: padding 0.9s, margin 0.9s, font-size 0.9s, opacity 0.9s linear, visibility 0s 0.9s; }
  .fade-out * {
    -webkit-transition: padding 0.9s, margin 0.9s, font-size 0.9s;
    -moz-transition: padding 0.9s, margin 0.9s, font-size 0.9s;
    -o-transition: padding 0.9s, margin 0.9s, font-size 0.9s;
    transition: padding 0.9s, margin 0.9s, font-size 0.9s; }

button, a.button {
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s; }

div.panel {
  box-shadow: 1px 1px 5px #e5e5e5;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  div.panel a {
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }

#status-message-container .message {
  box-sizing: border-box;
  -webkit-transition: padding 0.9s, margin 0.9s, font-size 0.9s, border-radius 0.5s, opacity 0.9s linear, visibility 0s 0.9s;
  -moz-transition: padding 0.9s, margin 0.9s, font-size 0.9s, border-radius 0.5s, opacity 0.9s linear, visibility 0s 0.9s;
  -o-transition: padding 0.9s, margin 0.9s, font-size 0.9s, border-radius 0.5s, opacity 0.9s linear, visibility 0s 0.9s;
  transition: padding 0.9s, margin 0.9s, font-size 0.9s, border-radius 0.5s, opacity 0.9s linear, visibility 0s 0.9s; }
  #status-message-container .message a {
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  #status-message-container .message .exit {
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer; }

#content-bar-left > .bar-nav p, #content-bar-right > .bar-nav p {
  cursor: pointer; }

/*# sourceMappingURL=base.css.map */
