html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 10px;
}

html {
  font-family: "Source Sans Pro", "Open Sans", "Lato", sans-serif;
}

p {
  font-family: "Open Sans", "Lato", "Source Sans Pro", sans-serif;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  font-size: 4.5vw;
}
@media only screen and (min-width: 400px) and (max-width: 475px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.8vw;
  }
}
@media only screen and (min-width: 475px) and (max-width: 550px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 3.4vw;
  }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.7vw;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 2.1vw;
  }
}
@media only screen and (min-width: 869px) and (max-width: 1024px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.8vw;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.4vw;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 1.1vw;
  }
}
@media only screen and (min-width: 1601px) {
  html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
    font-size: 0.9vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 174%;
}

h3 {
  font-size: 151%;
}

h4 {
  font-size: 132%;
}

h5 {
  font-size: 115%;
}

h6 {
  font-size: 100%;
}

html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  vertical-align: baseline;
  border: 0;
}

html {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body main .placeholder {
  min-width: 2vw;
}
body main #content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body main #content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body {
  color: #000000;
}

body #content {
  background-color: #ffffff;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

header .header-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
header .header-bottom {
  display: none;
}

header .site-logo > nav {
  height: 100%;
}
header .site-logo > nav > ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
header .site-logo nav > ul > li > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
header .site-logo img {
  max-width: 100px;
  max-height: 26px;
  margin-right: 10px;
  margin-left: 10px;
}
@media only screen and (min-width: 869px) {
  header .site-logo img {
    max-width: 100px;
    max-height: 22px;
  }
}

header {
  background-color: #e5e5e5;
}

header .header-bottom {
  border-top: 1px solid #cccccc;
}

header .site-logo nav > ul > li > ul > li {
  border: 1px solid #cccccc;
  border-top: 0;
}
header .site-logo nav > ul > li > ul > li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

footer {
  background-color: #e5e5e5;
}

header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 28px;
}
@media only screen and (min-width: 869px) {
  header nav {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -justify-content: space-around;
    -mox-justify-content: space-evenly;
  }
}
header nav ul {
  display: none;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (min-width: 869px) {
  header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
header nav ul > li {
  padding-right: 5px;
  padding-left: 5px;
}
header nav ul > li > ul {
  position: absolute;
  display: none;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
header nav ul > li > ul > li {
  padding: 2px;
}
header nav ul > li:hover > ul, header nav ul > li:hover > ul:hover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header nav a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.mobile-nav-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 28px;
  height: 20px;
  padding: 5px;
  margin-top: 3px;
  margin-right: 2vw;
  margin-bottom: 3px;
  margin-left: 2vw;
}
@media only screen and (min-width: 869px) {
  .mobile-nav-icon {
    display: none;
  }
}

.mobile-nav-icon hr {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.header-bottom nav {
  display: flex;
}
.header-bottom nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header-bottom nav ul > li > ul {
  position: relative;
  display: none;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {
    position: absolute;

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    min-width: 100vw;
    min-height: 100vh;
}

.mobile-nav-overlay {

    nav {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        width: 75vw;
        height: 75vh;
    }

    nav {

        ul {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
        }

        > ul {
            width: 90%;
        }

        li {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            width: 100%;
        }

        a {
            padding-top: 1vh;
            padding-bottom: 1vh;

            width: 100%;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//
*/
header nav a, .mobile-nav-overlay nav a {
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.header-bottom nav ul > li > ul > li > a {
  font-size: 80%;
}

/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {

    nav {

        a {
            font-size: 150%;
            font-weight: bold;
            color: $theme-nav-text;
            text-align: center;
            text-decoration: none;
        }

        ul > li > ul a {
            font-size: 125%;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//*/
header nav ul {
  list-style-type: none;
}
header nav li {
  background-color: #e5e5e5;
}

header .header-top nav > ul > li > ul > li {
  border: 1px solid #cccccc;
  border-top: 0;
}
header .header-top nav > ul > li > ul > li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.mobile-nav-icon {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.mobile-nav-icon hr {
  border: 0;
  border-top: 1px solid #cccccc;
}

.header-bottom nav ul > li {
  border-bottom: 1px solid #cccccc;
}
.header-bottom nav ul > li > ul > li {
  border: 0px;
}

/*//========================================//
//==== START Mobile Nav Overlay Block ====//
//========================================//

.mobile-nav-overlay {
    background-color: $theme-nav-overlay-background;
}

.mobile-nav-overlay {

    nav {
        background-color: $theme-nav-overlay-foreground;
    }

    nav {

        ul {
            list-style-type: none;
        }

        > ul > li {
            border-bottom: 1px solid $theme-nav-overlay-background;
        }

        > ul > li:first-child {
            border-top: 1px solid $theme-nav-overlay-background;
        }
    }
}

//========================================//
//===== END Mobile Nav Overlay Block =====//
//========================================//*/
.mobile-nav-icon {
  cursor: pointer;
}

/*# sourceMappingURL=base.css.map */
