{% extends 'cae_home/main.html' %}


{% block title_page_name %}CSS Example | {% endblock title_page_name %}


{% block content %}
  <ul id="status-message-container">
      <li class="message">
      <p>Default <a href="">Test Link</a> Default</p>
      <p class="exit">x</p>
    </li>
    <li class="message info">
      <p>Info <a href="">Test Link</a> Info</p>
      <p class="exit">x</p>
    </li>
    <li class="message success">
      <p>Success <a href="">Test Link</a> Success</p>
      <p class="exit">x</p>
    </li>
    <li class="message warning">
      <p>Warning <a href="">Test Link</a> Warning</p>
      <p class="exit">x</p>
    </li>
    <li class="message error">
      <p>Error <a href="">Test Link</a> Error</p>
      <p class="exit">x</p>
    </li>
    <li class="message danger">
      <p>Danger <a href="">Test Link</a> Danger</p>
      <p class="exit">x</p>
    </li>
  </ul>

  <h1>CAE Home CSS Examples</h1>
  <a href="{% url 'cae_home:index' %}">Return to Index</a>
  <p>Welcome to the CAE Workspace CSS Example Page.</p>
  <p>You should only be seeing this page if serving in development mode.</p>
  <br>
  <p>This page contains various, reusable css stylings. Use these for reference when formatting new pages.</p>

  <hr>

  <h2>Button Element Examples</h2>
  <button>Default</button>
  <button class="info">Info</button>
  <button class="success">Success</button>
  <button class="warning">Warning</button>
  <button class="error">Error</button>
  <button class="danger">Danger</button>

  <hr>

  <h2>Button Anchor Examples</h2>
  <a href="" class="button">Default</a>
  <a href="" class="button info">Info</a>
  <a href="" class="button success">Success</a>
  <a href="" class="button warning">Warning</a>
  <a href="" class="button error">Error</a>
  <a href="" class="button danger">Danger</a>

  <hr>

  <h2>Alert Examples</h2>
  <p class="alert">Default <a href="">Test Link</a></p>
  <p class="alert info">Info <a href="">Test Link</a></p>
  <p class="alert success">Success <a href="">Test Link</a></p>
  <p class="alert warning">Warning <a href="">Test Link</a></p>
  <p class="alert error">Error <a href="">Test Link</a></p>
  <p class="alert danger">Danger <a href="">Test Link</a></p>

  <hr>

  <h2>Panel Examples</h2>
  <div class="panel">
    <div class="header">Header <a href="">Test Link</a> <button>Button</button></div>
    <div class="content">
      Default
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>
  <div class="panel info">
    <div class="header">Header <a href="">Test Link</a> <button class="info">Button</button></div>
    <div class="content">
      Info
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>
  <div class="panel success">
    <div class="header">Header <a href="">Test Link</a> <button class="success">Button</button></div>
    <div class="content">
      Success
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>
  <div class="panel warning">
    <div class="header">Header <a href="">Test Link</a> <button class="warning">Button</button></div>
    <div class="content">
      Test
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>
  <div class="panel error">
    <div class="header">Header <a href="">Test Link</a> <button class="error">Button</button></div>
    <div class="content">
      Error
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>
  <div class="panel danger">
    <div class="header">Header <a href="">Test Link</a> <button class="danger">Button</button></div>
    <div class="content">
      Danger
    </div>
    <div class="footer">Footer <a href="">Test Link</a></div>
  </div>

  <hr>

  <h2>Specific Usage Examples</h2>
  <div class="panel">
    <div class="header">
      <p>Header with a <a href="">Test Link</a> Example</p>
      <a class="button" href="">Button</a>
    </div>
    <div class="content">
      Example of multiple elements in header/footer, left aligned.
    </div>
    <div class="footer">
      <p>Footer with a <a href="">Test Link</a> Example</p>
      <a href="">Test Link</a>
    </div>
  </div>

{% endblock content %}
