{% extends 'cae_home/main.html' %}


{% block title_page_name %}CSS Example | {% endblock title_page_name %}


{% block content %}

  <h1>CAE Home CSS Examples</h1>
  <a href="{% url 'cae_home:index' %}">Return to Index</a>
  <p>Welcome to the CAE Workspace CSS Example Page.</p>
  <p>You should only be seeing this page if serving in development mode.</p>
  <br>
  <p>This page contains various, reusable css stylings. Use these for reference when formatting new pages.</p>

  <hr>

  <h2>Table Examples</h2>
  <article>
    <table>
      <caption>This is a table caption.</caption>
      <thead>
        <tr>
          <th colspan="3"><h3>This is a table header.</h3></th>
        </tr>
        <tr>
          <th><h4>Header Col 1</h4></th>
          <th><h4>Header Col 2</h4></th>
          <th><h4>Header Col 3</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Row 1 Col 1</p></td>
          <td><p>Row 1 Col 2</p></td>
          <td><p>Row 1 Col 3</p></td>
        </tr>
        <tr>
          <td><p>Row 2 Col 1</p></td>
          <td><p>Row 2 Col 2</p></td>
          <td><p>Row 2 Col 3</p></td>
        </tr>
        <tr>
          <td><a href="">Row 3 Col 1</a></td>
          <td><a href="">Row 3 Col 2</a></td>
          <td><a href="">Row 3 Col 3</a></td>
        </tr>
        <tr>
          <td><p>Row 4 Col 1</p></td>
          <td><p>Row 4 Col 2</p></td>
          <td><p>Row 4 Col 3</p></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3"><h6>This is a table footer.</h6></th>
        </tr>
        <tr>
          <th><h5>Footer Col 1</h5></th>
          <th><h5>Footer Col 2</h5></th>
          <th><h5>Footer Col 3</h5></th>
        </tr>
      </tfoot>
    </table>
  </article>

  <hr>

  <h2>Button Element Examples</h2>
  <article>
    <h3>Standard Button Elements</h3>
    <button>Default</button>
    <button class="primary">Primary</button>
    <button class="info">Info</button>
    <button class="success">Success</button>
    <button class="warning">Warning</button>
    <button class="error">Error</button>
    <button class="danger">Danger</button>

    <hr>

    <h3>Anchor Button Elements</h3>
    <a href="" class="button">Default</a>
    <a href="" class="button primary">Primary</a>
    <a href="" class="button info">Info</a>
    <a href="" class="button success">Success</a>
    <a href="" class="button warning">Warning</a>
    <a href="" class="button error">Error</a>
    <a href="" class="button danger">Danger</a>
  </article>

  <hr>

  <h2>Alert Examples</h2>
  <article>
    <div class="alert"><p>Default</p> <a href="">Test Link</a></div>
    <div class="alert primary"><p>Primary</p> <a href="">Test Link</a></div>
    <div class="alert info"><p>Info</p> <a href="">Test Link</a></div>
    <div class="alert success"><p>Success</p> <a href="">Test Link</a></div>
    <div class="alert warning"><p>Warning</p> <a href="">Test Link</a></div>
    <div class="alert error"><p>Error</p> <a href="">Test Link</a></div>
    <div class="alert danger"><p>Danger</p> <a href="">Test Link</a></div>
  </article>

  <hr>

  <h2>Status Message Examples</h2>
  <article>
    <ul id="status-message-container">
      <li class="message">
        <p>Default <a href="">Test Link</a> Default</p>
        <p class="exit">x</p>
      </li>
      <li class="message primary">
        <p>Primary <a href="">Test Link</a> Primary</p>
        <p class="exit">x</p>
      </li>
      <li class="message info">
        <p>Info <a href="">Test Link</a> Info</p>
        <p class="exit">x</p>
      </li>
      <li class="message success">
        <p>Success <a href="">Test Link</a> Success</p>
        <p class="exit">x</p>
      </li>
      <li class="message warning">
        <p>Warning <a href="">Test Link</a> Warning</p>
        <p class="exit">x</p>
      </li>
      <li class="message error">
        <p>Error <a href="">Test Link</a> Error</p>
        <p class="exit">x</p>
      </li>
      <li class="message danger">
        <p>Danger <a href="">Test Link</a> Danger</p>
        <p class="exit">x</p>
      </li>
    </ul>
  </article>

  <hr>

  <h2>Panel Examples</h2>
  <article>
    <p>Note: The stylings (".header" or ".head"), (".content" or ".body"), and (".footer" or ".foot") all work for
      targeting the appropriate panel children.</p>
    <div class="panel">
      <div class="header">
        <p>Default Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Default Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Default Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel primary">
      <div class="header">
        <p>Primary Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Primary Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Primary Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel info">
      <div class="header">
        <p>Info Header Example</p>
        <a href="">Test Link</a>
        <div><button class="info">Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Info Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Info Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel success">
      <div class="header">
        <p>Success Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Success Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Success Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel warning">
      <div class="header">
        <p>Warning Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Warning Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Warning Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel error">
      <div class="header">
        <p>Error Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Error Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Error Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel danger">
      <div class="header">
        <p>Danger Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Danger Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Danger Footer Example <a href="">Test Link</a></div>
    </div>
  </article>

  <hr>

  <h2>Specific Usage Examples</h2>
  <article>

    <div class="panel">
      <div class="header"><p>This panel only has a header section.</p></div>
    </div>

    <div class="panel">
      <div class="content"><p>This panel only has a content section.</p></div>
    </div>

    <div class="panel">
      <div class="footer"><p>This panel only has a footer section.</p></div>
    </div>

    <hr>

    <div class="panel">
      <div class="header">
        <p>Panel with different status buttons and no content section.</p>
      </div>
      <div class="footer">
        <div><button>Default Button</button><a class="button" href="">Default a-Button</a></div>
        <div><button class="primary">Primary Button</button><a class="button primary" href="">Primary a-Button</a></div>
        <div><button class="info">Info Button</button><a class="button info" href="">Info a-Button</a></div>
        <div><button class="success">Success Button</button><a class="button success" href="">Success a-Button</a></div>
        <div><button class="warning">Warning Button</button><a class="button warning" href="">Warning a-Button</a></div>
        <div><button class="error">Error Button</button><a class="button error" href="">Error a-Button</a></div>
        <div><button class="danger">Danger Button</button><a class="button danger" href="">Danger a-Button</a></div>
      </div>
    </div>

    <hr>

    <div class="panel">
      <div class="header">
        <h3>This is panel with nested subpanels</h3>
      </div>
      <div class="panel">
        <div class="header"><p>Subpanel 1</p></div>
        <div class="content"><p>Subpanel 1 Content</p></div>
      </div>
      <div class="panel">
        <div class="header"><p>Subpanel 2</p></div>
        <div class="content"><p>Subpanel 2 Content</p></div>
        <div class="footer"><p>Subpanel 2 Footer</p></div>
      </div>
      <div class="panel">
        <div class="header"><p>Subpanel 3</p></div>
        <div class="content"><p>Subpanel 3 Content</p></div>
      </div>
      <div class="panel">
        <div class="header"><p>Subpanel 4</p></div>
        <div class="content"><p>Subpanel 4 Content</p></div>
      </div>
    </div>
  </article>

{% endblock content %}
