{% extends 'cae_home/main.html' %}


{% block title_page_name %}CSS Example | {% endblock title_page_name %}


{% block content_bar_left %}
  <h2>Table of Contents</h2>
  <ul>
    <li>
      <a href="#content">Back to Top</a>
    </li>
    <li>
      <a href="#button-examples">Button Examples</a>
    </li>
    <li>
      <a href="#alert-examples">Alert Examples</a>
    </li>
    <li>
      <a href="#status-message-examples">Status Message Examples</a>
    </li>
    <li>
      <a href="#article-examples">Article Examples</a>
    </li>
    <li>
      <a href="#table-examples">Table Examples</a>
    </li>
    <li>
      <a href="#panel-examples">Panel Examples</a>
    </li>
    <li>
      <a href="#tabbed-panel-examples">Tabbed Panel Examples</a>
    </li>
    <li>
      <a href="#form-examples">Form Examples</a>
    </li>
    <li>
      <a href="#specific-usage-examples">Specific Usage Examples</a>
    </li>
  </ul>
{% endblock content_bar_left %}


{% block content_bar_right %}
  <h2>Side Content Bars</h2>
  <p>
    This is an example of a side content bar.
  </p>
  <p>
    The left and right side content bars are meant for supplementary information that is not essential to the page
    itself.
  <p>
    There is a left and right one. To use them, simply override the Django template block "content_bar_left" or
    "content_bar_right" to have text in the left and right bars, respectively.
  </p>
  <p>
    When the bars are empty, there is JavaScript code to remove and hide them. This file can be found in
    "static/cae_home/js/side_content_bars.js".
  </p>
{% endblock content_bar_right %}


{% block content %}

  <h1>CAE Home CSS Examples</h1>
  <article>
    <a href="{% url 'cae_home:index' %}">Return to Index</a>
    <p>Welcome to the CAE Workspace CSS Example Page.</p>
    <p>You should only be seeing this page if serving in development mode.</p>
    <br>
    <p>This page contains various, reusable css stylings. Use these for reference when formatting new pages.</p>
  </article>

  <article id="button-examples">
    <h2>Button Element Examples</h2>
    <p>
      Standard buttons. Can be either button (&#60;button&#62;) or anchor (&#60;a&#62;) type.
    </p>
    <section class="center">
      <h3>Standard Button Elements</h3>
      <button>Default</button>
      <button class="primary">Primary</button>
      <button class="secondary">Secondary</button>
      <button class="info">Info</button>
      <button class="success">Success</button>
      <button class="warning">Warning</button>
      <button class="error">Error</button>
      <button class="danger">Danger</button>
    </section>

    <section class="center">
      <h3>Anchor Button Elements</h3>
      <a href="" class="button">Default</a>
      <a href="" class="button primary">Primary</a>
      <a href="" class="button secondary">Secondary</a>
      <a href="" class="button info">Info</a>
      <a href="" class="button success">Success</a>
      <a href="" class="button warning">Warning</a>
      <a href="" class="button error">Error</a>
      <a href="" class="button danger">Danger</a>
    </section>

    <section>
      <h3>Button Element Groups</h3>
      <p>Buttons can also be grouped together.</p>
      <div class="buttons">
        <button>Default</button>
        <button class="primary">Primary</button>
        <button class="secondary">Secondary</button>
        <button class="info">Info</button>
        <button class="success">Success</button>
        <button class="warning">Warning</button>
        <button class="error">Error</button>
        <button class="danger">Danger</button>
      </div>
      <div class="buttons">
        <a href="" class="button">Default</a>
        <a href="" class="button primary">Primary</a>
        <a href="" class="button secondary">Secondary</a>
        <a href="" class="button info">Info</a>
        <a href="" class="button success">Success</a>
        <a href="" class="button warning">Warning</a>
        <a href="" class="button error">Error</a>
        <a href="" class="button danger">Danger</a>
      </div>
    </section>
  </article>

  <article id="alert-examples">
    <h2>Alert Examples</h2>
    <p>
      Alerts can be used anywhere on the page. Intented to pop up as a notification to user.
    </p>
    <div class="alert"><p>Default</p> <a href="">Test Link</a></div>
    <div class="alert primary"><p>Primary</p> <a href="">Test Link</a></div>
    <div class="alert secondary"><p>Secondary</p> <a href="">Test Link</a></div>
    <div class="alert info"><p>Info</p> <a href="">Test Link</a></div>
    <div class="alert success"><p>Success</p> <a href="">Test Link</a></div>
    <div class="alert warning"><p>Warning</p> <a href="">Test Link</a></div>
    <div class="alert error"><p>Error</p> <a href="">Test Link</a></div>
    <div class="alert danger"><p>Danger</p> <a href="">Test Link</a></div>
  </article>

  <article id="status-message-examples">
    <h2>Status Message Examples</h2>
    <p>
      Status Messages are similar to alerts, but intended to show up at the top of the page, usually after something
      like a form submission. Generally speaking, "Django messages" should be used to create these.
    </p>
    <ul id="status-message-container">
      <li class="message">
        <p>Default <a href="">Test Link</a> Default</p>
        <p class="exit">x</p>
      </li>
      <li class="message primary">
        <p>Primary <a href="">Test Link</a> Primary</p>
        <p class="exit">x</p>
      </li>
      <li class="message secondary">
        <p>Secondary <a href="">Test Link</a> Secondary</p>
        <p class="exit">x</p>
      </li>
      <li class="message info">
        <p>Info <a href="">Test Link</a> Info</p>
        <p class="exit">x</p>
      </li>
      <li class="message success">
        <p>Success <a href="">Test Link</a> Success</p>
        <p class="exit">x</p>
      </li>
      <li class="message warning">
        <p>Warning <a href="">Test Link</a> Warning</p>
        <p class="exit">x</p>
      </li>
      <li class="message error">
        <p>Error <a href="">Test Link</a> Error</p>
        <p class="exit">x</p>
      </li>
      <li class="message danger">
        <p>Danger <a href="">Test Link</a> Danger</p>
        <p class="exit">x</p>
      </li>
    </ul>
  </article>

  <article id="article-examples">
    <h2>Article Examples</h2>
    <p>
      Articles are good elements to split up larger sections of content. By default, they are clear. To create an
      article, one can either use the &#60;article&#62; element or a div with the class of "article".
    </p>
    <article class="color">
      <p>
        But adding the "color" class gives articles a border and background, like this. Or if using a div element, then
        use the "article-color" class.
      </p>
    </article>
    <section>
      <p>
        Usually, to subdivide content within an article, you would use a section element, like this one. Again, to
        create an article, one can either use the &#60;section&#62; element or a div with the class of "section".
      </p>
    </section>
    <section class="color">
      <p>
        Similarly to articles, sections can add the "color" class to get a visible border and background. If using a
        div element, then use the "section-color" class.
      </p>
    </section>
    <div class="article-color">
      <p>This is an example of a colored section within a colored article.</p>
      <div class="section-color">
        {% lorem 1 p %}
      </div>
    </div>
  </article>

  <article id="table-examples">
    <h2>Table Examples</h2>
    <p>
      To comply with screen reader standards, tables should only be used when displaying data that makes sense in a row
      column format. Basically data that would make sense in a spreadsheet.
    </p>
    <section>
      <h3>Full Table</h3>
      <table>
        <caption>This is a table caption.</caption>
        <thead>
          <tr>
            <th colspan="3"><h3>This is a table header.</h3></th>
          </tr>
          <tr>
            <th><h4>Header Col 1</h4></th>
            <th><h4>Header Col 2</h4></th>
            <th><h4>Header Col 3</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3"><h6>This is a table footer.</h6></th>
          </tr>
          <tr>
            <th><h5>Footer Col 1</h5></th>
            <th><h5>Footer Col 2</h5></th>
            <th><h5>Footer Col 3</h5></th>
          </tr>
        </tfoot>
      </table>
    </section>

    <section>
      <h3>Table with Header Only</h3>
      <table>
        <thead>
          <tr>
            <th><h4>Header Col 1</h4></th>
            <th><h4>Header Col 2</h4></th>
            <th><h4>Header Col 3</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h3>Bare Minimum Table</h3>
      <table>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>

  <article id="panel-examples">
    <h2>Panel Examples</h2>
    <p>
      Panels can be used to visually section off related content elements.
    </p>
    <p>
      Note: The stylings (".header" or ".head"), (".content" or ".body"), and (".footer" or ".foot") all work for
      targeting the appropriate panel children.
    </p>
    <div class="panel">
      <div class="header">
        <p>Default Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Default Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Default Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel primary">
      <div class="header">
        <p>Primary Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Primary Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Primary Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel secondary">
      <div class="header">
        <p>Secondary Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Secondary Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Secondary Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel info">
      <div class="header">
        <p>Info Header Example</p>
        <a href="">Test Link</a>
        <div><button class="info">Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Info Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Info Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel success">
      <div class="header">
        <p>Success Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Success Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Success Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel warning">
      <div class="header">
        <p>Warning Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Warning Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Warning Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel error">
      <div class="header">
        <p>Error Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Error Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Error Footer Example <a href="">Test Link</a></div>
    </div>
    <div class="panel danger">
      <div class="header">
        <p>Danger Header Example</p>
        <a href="">Test Link</a>
        <div><button>Button</button><a class="button" href="">a-Button</a></div>
      </div>
      <div class="content">
        <p>Danger Content with a <a href="">Test Link</a></p>
      </div>
      <div class="footer">Danger Footer Example <a href="">Test Link</a></div>
    </div>
  </article>


  <article id="tabbed-panel-examples">
    <h2>Tabbed Panel Examples</h2>
    <p>Panels with clickable tabs.</p>
    <p>
      To create, simply use a standard panel. Within the panel's body/content section, create divs with the class "tab"
      for each tab you want. The first header element within each tab will become the tab's nav text.
    </p>

    <div class="panel tabs">
      <div class="header">
        <p>Default Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs primary">
      <div class="header">
        <p>Primary Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs secondary">
      <div class="header">
        <p>Secondary Tabbed panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs info">
      <div class="header">
        <p>Info Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs success">
      <div class="header">
        <p>Success Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs warning">
      <div class="header">
        <p>Warning Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

    <div class="panel tabs error">
      <div class="header">
        <p>Error Tabbed Panel</p>
      </div>
      <div class="body">
        <div class="tab">
          <h3>Tab 1</h3>
          <p>Some content in Tab 1</p>
          <a href="">A link in Tab 1</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 2</h3>
          <p>Some content in Tab 2</p>
          <a href="">A link in Tab 2</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 3</h3>
          <p>Some content in Tab 3</p>
          <a href="">A link in Tab 3</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 4</h3>
          <p>Some content in Tab 4</p>
          <a href="">A link in Tab 4</a>
          <p>{% lorem random %}</p>
        </div>
        <div class="tab">
          <h3>Tab 5</h3>
          <p>Some content in Tab 5</p>
          <a href="">A link in Tab 5</a>
          <p>{% lorem random %}</p>
        </div>
      </div>
    </div>

  </article>

  <article id="form-examples">
    <h2>Form Examples</h2>
    <p>
      Except for nonstandard forms, forms should always be rendered with
      <span class="pre">&#123;&#37; include 'cae_home/include/form.html' &#37;&#125;</span>
    </p>
    <p>
      Note: Forms in these examples do not actually submit data. To see an error, intentionally enter an invalid value
      for a timestamp.
    </p>
    <section>
      <h3>A Basic Form</h3>
      {% include 'cae_home/include/form.html' %}
    </section>
    <section>
      <div class="panel">
        <div class="header">
          <h2>A Form Within a Default Panel</h2>
        </div>
        <div class="content">
          {% include 'cae_home/include/form.html' %}
        </div>
      </div>
    </section>
    <section>
      <div class="panel primary">
        <div class="header">
          <h2>A Form Within a Primary Panel</h2>
        </div>
        <div class="content">
          {% include 'cae_home/include/form.html' %}
        </div>
      </div>
    </section>
  </article>

  <article id="specific-usage-examples">
    <h2>Specific Usage Examples</h2>

    <section>
      <div class="panel">
        <div class="header"><p>This panel only has a header section.</p></div>
      </div>

      <div class="panel">
        <div class="content"><p>This panel only has a content section.</p></div>
      </div>

      <div class="panel">
        <div class="footer"><p>This panel only has a footer section.</p></div>
      </div>
    </section>

    <section>
      <div class="panel">
        <div class="header">
          <p>Panel with different status buttons and no content section.</p>
        </div>
        <div class="footer">
          <div><button>Default Button</button><a class="button" href="">Default a-Button</a></div>
          <div><button class="primary">Primary Button</button><a class="button primary" href="">Primary a-Button</a></div>
          <div><button class="secondary">Secondary Button</button><a class="button secondary" href="">Secondary a-Button</a></div>
          <div><button class="info">Info Button</button><a class="button info" href="">Info a-Button</a></div>
          <div><button class="success">Success Button</button><a class="button success" href="">Success a-Button</a></div>
          <div><button class="warning">Warning Button</button><a class="button warning" href="">Warning a-Button</a></div>
          <div><button class="error">Error Button</button><a class="button error" href="">Error a-Button</a></div>
          <div><button class="danger">Danger Button</button><a class="button danger" href="">Danger a-Button</a></div>
        </div>
      </div>
    </section>

    <section>
      <div class="panel primary">
        <div class="header">
          <h3>This is panel with nested subpanels</h3>
        </div>
        <div class="body">
          <div class="panel primary">
            <div class="header"><h4>Subpanel 1 - Primary</h4></div>
            <div class="content"><p>Subpanel 1 Content</p></div>
          </div>
          <div class="panel secondary">
            <div class="header"><h4>Subpanel 2 - Secondary</h4></div>
            <div class="content"><p>Subpanel 2 Content</p></div>
          </div>
          <div class="panel info">
            <div class="header"><h4>Subpanel 3 - Info</h4></div>
            <div class="content"><p>Subpanel 3 Content</p></div>
          </div>
          <div class="panel success">
            <div class="header"><h4>Subpanel 4 - Success</h4></div>
            <div class="content"><p>Subpanel 4 Content</p></div>
          </div>
          <div class="panel warning">
            <div class="header"><h4>Subpanel 5 - Warning</h4></div>
            <div class="content"><p>Subpanel 5 Content</p></div>
          </div>
          <div class="panel error">
            <div class="header"><h4>Subpanel 6 - Danger/Error</h4></div>
            <div class="content"><p>Subpanel 6 Content</p></div>
          </div>
        </div>
      </div>
    </section>
  </article>

{% endblock content %}
