{% extends 'cae_home/base.html' %}


{% block title_site_name %}CAE Center{% endblock title_site_name %}


{% block body_extra_classes %}no-grid{% endblock body_extra_classes %}


{% block header %}{% endblock header %}


{% block placeholder_left %}{% endblock placeholder_left %}


{% block main %}
  <main class="main-content content_only cae_home" tabindex="-1">
    {% include 'cae_home/include/status_messages.html' %}
    {% block content %}{% endblock content %}
  </main>
{% endblock %}


{% block placeholder_right %}{% endblock placeholder_right %}


{% block footer %}{% endblock footer %}
