<aside role="complementary" class="large-3 large-pull-9 sidebar-first columns sidebar">
      <div class="row">
        <!-- Section navigation -->
        <nav role="navigation" class="columns large-12 show-for-large-up block block-menu-block block-menu-block-wmu-cms-sections clearfix">
          <div class="menu-block-wrapper menu-block-wmu_cms-sections menu-name-sections parent-mlid-0 menu-level-2">
            <ul class="menu">
              <li class="first leaf active"><a href="http://wmich.edu/engineer" title="" class="active-trail active">Home</a></li>
              <li class="collapsed menu-mlid-8759"><a href="http://wmich.edu/engineer/about" title="">About</a></li>
              <li class="collapsed menu-mlid-8760"><a href="http://wmich.edu/engineer/academics" title="">Academics</a></li>
              <li class="collapsed menu-mlid-8761"><a href="http://wmich.edu/engineer/advising" title="">Advising</a></li>
              <li class="collapsed menu-mlid-8886"><a href="http://wmich.edu/engineer/alumni" title="">Alumni</a></li>
              <li class="collapsed menu-mlid-8764"><a href="http://wmich.edu/engineer/news" title="">Events and News</a></li>
              <li class="collapsed menu-mlid-8765"><a href="http://wmich.edu/engineer/current" title="">For Current Students</a></li>
              <li class="collapsed menu-mlid-8766"><a href="http://wmich.edu/engineer/future" title="">For Future Students</a></li>
              <li class="leaf menu-mlid-14202"><a href="http://wmich.edu/engineer/giving" title="">Giving</a></li>
              <li class="collapsed menu-mlid-9319"><a href="http://wmich.edu/engineer/researchcenters" title="">Research</a></li>
              <li class="leaf menu-mlid-8769"><a href="http://wmich.edu/engineer/scholarships" title="">Scholarships</a></li>
              <li class="collapsed menu-mlid-8772"><a href="http://wmich.edu/engineer/directory" title="">Directory</a></li>
              <li class="last leaf menu-mlid-8773"><a href="http://wmich.edu/engineer/contact" title="">Contact Us</a></li>
            </ul>
          </div>
        </nav>
        <!-- End section navigation -->
        <section class="block block-views block-views-wmu-social-media-badges-section clearfix block-social-badges columns small-12 medium-6 medium-push-6 large-12 large-reset-order">
          <div class="view view-wmu-social-media-badges view-id-wmu_social_media_badges view-display-id-section view-dom-id-e5696bf3fd911f23198af743d45a8713">
            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last clearfix">
                <a href="https://www.facebook.com/WMUCEAS?fref=nf" title="Facebook" class="field-name-field-link-facebook"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-facebook"></i></span><span class="element-invisible">Facebook</span></a>
                <a href="https://twitter.com/WMUEngineers" title="Twitter" class="field-name-field-link-twitter"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-twitter"></i></span><span class="element-invisible">Twitter</span></a>
                <a href="https://www.linkedin.com/edu/school?id=162162&amp;trk=tyah&amp;trkInfo=clickedVertical%3Aschool%2CclickedEntityId%3A162162%2Cidx%3A1-1-1%2CtarId%3A1441043791497%2Ctas%3AWestern%20Michigan%20University%20College%20of%20En" title="LinkedIn" class="field-name-field-link-linkedin"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-linkedin"></i></span><span class="element-invisible">LinkedIn</span></a>
                <a href="https://www.youtube.com/channel/UC85bZ1vNHlT3cF0sFBbwo_A" title="YouTube" class="field-name-field-link-youtube"><span class="fa-stack fa-2x"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-youtube"></i></span><span class="element-invisible">YouTube</span></a>
            </div>
            </div>
          </div>
        </section>
        <section class="columns small-12 medium-6 medium-pull-6 large-12 large-reset-order block block-views block-views-wmu-section-address-block clearfix">
          <div class="view view-wmu-section-address view-id-wmu_section_address view-display-id-block view-dom-id-7597585d697caf56ff1e9cd3848a9de2">
            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                <div>        <div><strong>College of Engineering and Applied Sciences</strong><br>Western Michigan University<br>Kalamazoo MI 49008-5314 USA<br>(269) 276-3253</div>  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </aside>
