<!-- Section topbar -->
  <div class="contain-to-grid hide-for-large-up">
    <nav class="top-bar section-nav block block-menu-block block-menu-block-wmu-cms-sections-topbar" data-topbar="" data-options="is_hover:false; mobile_show_parent_link:true" style="">
      <ul class="title-area">
        <li class="name"><h2 class="block-title long-title"><a href="http://wmich.edu/engineer" title="" class="active-trail">College of Engineering and Applied Sciences</a></h2></li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span></span></a>
        </li>
      </ul>

      <section class="top-bar-section">
        <div class="menu-block-wrapper menu-block-wmu_cms-sections-topbar menu-name-sections parent-mlid-0 menu-level-2">
          <ul class="menu">
            <li class="first leaf active"><a href="http://wmich.edu/engineer" title="" class="active-trail">Home</a></li>
            <li class="collapsed menu-mlid-8759"><a href="http://wmich.edu/engineer/about" title="">About</a></li>
            <li class="collapsed menu-mlid-8760"><a href="http://wmich.edu/engineer/academics" title="">Academics</a></li>
            <li class="collapsed menu-mlid-8761"><a href="http://wmich.edu/engineer/advising" title="">Advising</a></li>
            <li class="collapsed menu-mlid-8886"><a href="http://wmich.edu/engineer/alumni" title="">Alumni</a></li>
            <li class="collapsed menu-mlid-8764"><a href="http://wmich.edu/engineer/news" title="">Events and News</a></li>
            <li class="collapsed menu-mlid-8765"><a href="http://wmich.edu/engineer/current" title="">For Current Students</a></li>
            <li class="collapsed menu-mlid-8766"><a href="http://wmich.edu/engineer/future" title="">For Future Students</a></li>
            <li class="leaf menu-mlid-14202"><a href="http://wmich.edu/engineer/giving" title="">Giving</a></li>
            <li class="collapsed menu-mlid-9319"><a href="http://wmich.edu/engineer/researchcenters" title="">Research</a></li>
            <li class="leaf menu-mlid-8769"><a href="http://wmich.edu/engineer/scholarships" title="">Scholarships</a></li>
            <li class="collapsed menu-mlid-8772"><a href="http://wmich.edu/engineer/directory" title="">Directory</a></li>
            <li class="last leaf menu-mlid-8773"><a href="http://wmich.edu/engineer/contact" title="">Contact Us</a></li>
          </ul>
        </div>
      </section>
    </nav>
  </div>
  <!-- End section topbar -->
