
//===========================//
//==== Alert Element CSS ====//
//===========================//

// Import statements
@import '../_variables';
@import '../_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.alert {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);

    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;

    a:not(.button) {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    p > a:not(.button) {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        .alert {
            color: theme-text($theme, 'content-accent');

            a {
                font-weight: bold;
                color: theme-status($theme, 'default', 'link');
                text-decoration: none;
            }

            a:hover {
                color: theme-status($theme, 'default', 'link-hover');
            }
        }

        .alert.primary {
            color: theme-status($theme, 'primary', 'text');
        }

        .alert.secondary {
            color: theme-status($theme, 'secondary', 'text');
        }


        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            .alert.#{$status} {
                a {
                    color: theme-status($theme, $status, 'link');
                }
            }

            .alert.#{$status}:hover {
                a {
                    color: theme-status($theme, $status, 'link-hover');
                }
            }

        }

    }}

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        .alert {
            background-color: theme-status($theme, 'default', 'primary');
            border: 1px solid theme-status($theme, 'default', 'border');

            border-radius: 5px;

            a:not(.button) {
                border-radius: 5em;
            }

            a:hover:not(.button) {
                background-color: theme-status($theme, 'default', 'primary');
            }
        }

        .alert:hover {
            background-color: theme-status($theme, 'default', 'primary-hover');
            border: 1px solid theme-status($theme, 'default', 'border-hover');

            a:hover:not(.button) {
                background-color: theme-status($theme, 'default', 'primary');
            }
        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            .alert.#{$status} {
                background-color: theme-status($theme, $status, 'primary');
                border: 1px solid theme-status($theme, $status, 'border');

                a:hover:not(.button) {
                    background-color: theme-status($theme, $status, 'primary');
                }
            }

            .alert.#{$status}:hover {
                background-color: theme-status($theme, $status, 'primary-hover');
                border: 1px solid theme-status($theme, 'default', 'border-hover');
            }

        }

    }}

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.alert {
    @include transition(color 0.5s, background-color 0.5s, border 0.5s);

    a {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//
