
//=================================//
//==== Content Bar Element CSS ====//
//=================================//

// Import statements
@import '../_variables';
@import '../_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content-bar-left, .main-content-bar-right {
    position: absolute;
    z-index: 5;

    @include display-flex;
    @include flex-direction(row);

    min-width: 100%;
    min-height: 100%;

    > .bar-nav {
        padding-top: 15px;
    }

    > .bar-content {
        min-height: 100%;
        padding: 5px;
    }

    .arrow-right, .arrow-left {
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        margin-right: 2px;
        margin-left: 2px;
    }
}

.main-content-bar-left {
    left: 0;

    > .bar-nav {
        left: 0;
        order: 1;
    }
}

.main-content-bar-right {
    right: 0;

    @include justify-content(flex-end);

    > .bar-nav {
        right: 0;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content-bar-left, .main-content-bar-right {

  @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        > .bar-nav p {
            font-size: 150%;
            color: theme-status($theme, 'default', 'primary');
        }

        > .bar-nav p:hover {
            color: theme-text($theme, 'content');
        }

        .arrow-right, .arrow-left {
            font-size: 100% !important;
        }

    }
  }

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content-bar-left, .main-content-bar-right {

  @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        > .bar-content {
            background-color: theme-background($theme, 'primary');
            border-right: 1px solid theme-background($theme, 'border');
            border-left: 1px solid theme-background($theme, 'border');
        }

        .arrow-right, .arrow-left {
            background-color: theme-status($theme, 'default', 'secondary');
            /*background-color: $color-trans-grey-25;*/
            border-radius: 25px;
        }

        .arrow-right:hover, .arrow-left:hover {
            background-color: theme-background($theme, 'primary');
        }

    }
  }

}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

.main-content-bar-left, .main-content-bar-right {

    > .bar-nav p {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
        cursor: pointer;
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//
