
//==================//
//==== Form CSS ====//
//==================//

// Import statements
@import '../variables/_core';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//==================================//
//==== START General Form Block ====//
//==================================//

.main-content form {

    text-align: center;

    // Parent container for all of a form's fields.
    .form-inputs {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        padding-bottom: 5px;

        // Container for all elements of a single form field.
        .form-input {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);

            width: 100%;

            > label {
                width: 30%;
                margin: 5px;

                text-align: right;

                @media only screen and (min-width: $screen-tablet-mid) {
                    width: 42.5%;
                }
            }

            // Field value div.
            > div {
                margin: 5px;
                width: 70%;

                text-align: left;

                @media only screen and (min-width: $screen-tablet-mid) {
                    width: 57.5%;
                }
            }
        }
    }

    input {
        max-width: 90%;
    }

    .alert {
        width: 25%;

        margin-right: auto;
        margin-left: auto;
    }
}


// Logic to display form with multiple columns of inputs.
.main-content form .multi-col {

    @media only screen and (max-width: $screen-tablet-mid) {

        &.form-col {
            order: 2;
        }

        .mobile-display-first{
            order: 1;
        }
    }

    // Only display when in desktop mode.
    @media only screen and (min-width: $screen-tablet-mid) {

        // Parent container for all of a form's fields.
        &.form-inputs {
            @include flex-direction(row);

            > .form-col {
                @include flex(1);
            }
        }
    }
}

//==================================//
//===== END General Form Block =====//
//==================================//


//===================================//
//==== START Custom Widget Block ====//
//===================================//

.main-content form {

    .select-buttons {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);

        .select-item {
            padding: 10px;
            margin: 5px;
        }
    }
}

//===================================//
//===== END Custom Widget Block =====//
//===================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//==================================//
//==== START General Form Block ====//
//==================================//

.main-content form {

    .form-display-name {
        color: $color-grey-50;
        text-align: left;

        @each $font-option, $font-option-value in $font-size-options {
        .font-size-#{$font-option} & {

            font-size: font-option($font-option);

        }}
    }
}

//==================================//
//===== END General Form Block =====//
//==================================//


//===================================//
//==== START Custom Widget Block ====//
//===================================//

.main-content form {

    .select-buttons {

        .select-item {
            text-align: center;
        }
    }
}

//===================================//
//===== END Custom Widget Block =====//
//===================================//


//==================================================//
//==== START "Custom Widget" Theme Colors Block ====//
//==================================================//

.main-content form {

    .select-buttons {

        @each $theme, $theme-dict in $theme-colors {
        .theme-#{$theme} & {

            .select-item {
                color: theme-text($theme, 'content');
            }

            .select-item.selected {
                color: theme-status($theme, 'primary', 'text');
            }

        }}

    }
}

//==================================================//
//===== END "Custom Widget" Theme Colors Block =====//
//==================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//===================================//
//==== START Custom Widget Block ====//
//===================================//

.main-content form {

    .select-buttons {

        .select-item {
            cursor: pointer;
            border-radius: 5px;
        }
    }
}

//===================================//
//===== END Custom Widget Block =====//
//===================================//


//==================================================//
//==== START "Custom Widget" Theme Colors Block ====//
//==================================================//

.main-content form {

    .select-buttons {

        @each $theme, $theme-dict in $theme-colors {
        .theme-#{$theme} & {

            .select-item {
                border: 3px solid theme-status($theme, 'primary', 'primary');
            }

            .select-item.selected {
                background: theme-status($theme, 'primary', 'primary');
                border: 3px solid theme-status($theme, 'primary', 'border');
            }

        }}

    }
}

//==================================================//
//===== END "Custom Widget" Theme Colors Block =====//
//==================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//



//===========================//
//===== END ----- Block =====//
//===========================//
