
//===========================//
//==== Panel Element CSS ====//
//===========================//

// Import statements
@import '../_variables';
@import '../_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//=================================//
//==== START Basic Panel Block ====//
//=================================//

.main-content {
    div.panel {
        position: relative;

        margin-top: 20px;
        margin-bottom: 20px;

        > div.panel {
            margin: 15px;
        }

        a:not(.button) {
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-left: 10px;
        }

        @each $panel_header_element in $panel_header_element_list {
        > #{$panel_header_element} {

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
            @include flex-wrap(wrap);

            padding: 10px;

            @each $header_element in $header_element_list {
            > #{$header_element} {

                padding-top: 0;

            }}

        }}

        @each $panel_content_element in $panel_content_element_list {
        > #{$panel_content_element} {

            padding: 10px;

            a:not(.button) {
                padding-top: 1px;
                padding-right: 7px;
                padding-bottom: 1px;
                padding-left: 7px;
            }

        }}

        @each $panel_footer_element in $panel_footer_element_list {
        > #{$panel_footer_element} {

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
            @include flex-wrap(wrap);

            padding: 10px;

        }}
    }
}

//=================================//
//===== END Basic Panel Block =====//
//=================================//


//==================================//
//==== START Tabbed Panel Block ====//
//==================================//

.main-content div.panel.tabs {

    @each $panel_content_element in $panel_content_element_list {
    > #{$panel_content_element} {
        padding: 0;
    }}

    .tab-nav {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(center);

        padding-left: 0;

        li {
            @include flex(1);

            min-width: 10%;
        }

        @each $header_element in $header_element_list {
        #{$header_element} {

            padding-top: 5px;
            padding-bottom: 5px;

        }}
    }

    .tab-content {
        padding: 10px;
    }
}

//==================================//
//===== END Tabbed Panel Block =====//
//==================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//=================================//
//==== START Basic Panel Block ====//
//=================================//

.main-content {

    div.panel {

        a.button, button {
            font-weight: normal;
        }

        a:not(.button) {
            font-weight: bold;
        }

        @each $panel_header_element in $panel_header_element_list {
        > #{$panel_header_element} {

                font-weight: bold;

                @each $font-option, $font-option-value in $font-size-options {
                .font-size-#{$font-option} & {

                    font-size: font-option($font-option) * 1.10;

                }}

                @each $header_element in $header_element_list {
                > #{$header_element} {

                    @each $font-option, $font-option-value in $font-size-options {
                    .font-size-#{$font-option} & {

                        font-size: font-option($font-option) * 1.10;

                    }}

                }}

        }}

    }
}

//=================================//
//===== END Basic Panel Block =====//
//=================================//


//================================================//
//==== START "Basic Panel" Theme Colors Block ====//
//================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        div.panel {

            a:not(.button) {
                color: theme-status($theme, 'default', 'link');
            }

            a:not(.button):hover {
                color: theme-status($theme, 'default', 'link-hover');
            }

            @each $panel_header_element in $panel_header_element_list {
            > #{$panel_header_element} {

                    color: theme-text($theme, 'content');

            }}

            @each $panel_content_element in $panel_content_element_list {
            > #{$panel_content_element} {

                a:not(.button) {
                    color: theme-text($theme, 'link');
                }

                a:not(.button):hover {
                    color: theme-text($theme, 'link-hover');
                }

            }}

            @each $panel_footer_element in $panel_footer_element_list {
            > #{$panel_footer_element} {

                color: theme-text($theme, 'content');

            }}

        }

        div.panel:hover {

            @each $panel_header_element in $panel_header_element_list {
            > #{$panel_header_element} {

                color: theme-text($theme, 'content-hover');

            }}

            @each $panel_footer_element in $panel_footer_element_list {
            > #{$panel_footer_element} {

                color: theme-text($theme, 'content-hover');

            }}

        }

        div.panel.primary:hover {

            @each $panel_header_element in $panel_header_element_list {
            > #{$panel_header_element} {

                color: theme-status($theme, 'primary', 'link-hover');

            }}

            @each $panel_footer_element in $panel_footer_element_list {
            > #{$panel_footer_element} {

                color: theme-status($theme, 'primary', 'link-hover');

            }}

        }

        div.panel.secondary:hover {

            @each $panel_header_element in $panel_header_element_list {
            > #{$panel_header_element} {

                color: theme-text($theme, 'secondary-hover');

            }}

            @each $panel_footer_element in $panel_footer_element_list {
            > #{$panel_footer_element} {

                color: theme-text($theme, 'secondary-hover');

            }}

        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            div.panel.#{$status} {

                @each $panel_header_element in $panel_header_element_list {
                > #{$panel_header_element} {

                    color: theme-status($theme, $status, 'text');

                    a:not(.button) {
                        color: theme-status($theme, $status, 'link');
                    }

                    a:not(.button):hover {
                        color: theme-status($theme, $status, 'link-hover');
                    }

                }}

                @each $panel_content_element in $panel_content_element_list {
                > #{$panel_content_element} {

                    a:not(.button):hover {
                        color: theme-status($theme, $status, 'link-hover');
                    }
                }}

                @each $panel_footer_element in $panel_footer_element_list {
                > #{$panel_footer_element} {

                    color: theme-status($theme, $status, 'text');

                    a:not(.button) {
                        color: theme-status($theme, $status, 'link');
                    }

                    a:not(.button):hover {
                        color: theme-status($theme, $status, 'link-hover');
                    }

                }}
            }
        }

    }}

}

//================================================//
//===== END "Basic Panel" Theme Colors Block =====//
//================================================//


//==================================//
//==== START Tabbed Panel Block ====//
//==================================//

.main-content {

    div.panel.tabs {

        .tab-nav {

            @each $header_element in $header_element_list {
            #{$header_element} {

                @each $font-option, $font-option-value in $font-size-options {
                .font-size-#{$font-option} & {

                    font-size: font-option($font-option);

                }}

            }}
        }

        .tab-content > *:not(.selected) {
            display: none;
        }

    }
}

//==================================//
//===== END Tabbed Panel Block =====//
//==================================//


//=================================================//
//==== START "Tabbed Panel" Theme Colors Block ====//
//=================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            div.panel.tabs.#{$status} .tab-nav li {
                color: theme-status($theme, $status, 'text');
            }

        }

    }}

}

//=================================================//
//===== END "Tabbed Panel" Theme Colors Block =====//
//=================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//=================================//
//==== START Basic Panel Block ====//
//=================================//

.main-content {

    div.panel {

        a:not(.button) {
            border-radius: 5em;
        }
    }
}

//=================================//
//===== END Basic Panel Block =====//
//=================================//


//================================================//
//==== START "Basic Panel" Theme Colors Block ====//
//================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        div.panel {
            background-color: theme-status($theme, 'default', 'primary');
            border: 1px solid theme-status($theme, 'default', 'border');

            a:hover:not(.button) {
                background-color: theme-status($theme, 'default', 'primary');
            }

            @each $panel_header_element in $panel_header_element_list {
            > #{$panel_header_element} {

                border-bottom: 1px solid theme-status($theme, 'default', 'border');

            }}

            @each $panel_content_element in $panel_content_element_list {
            > #{$panel_content_element} {

                background-color: theme-status($theme, 'default', 'secondary');

            }}

            @each $panel_footer_element in $panel_footer_element_list {
            > #{$panel_footer_element} {

                border-top: 1px solid theme-status($theme, 'default', 'border');

            }}

        }

        div.panel:hover {
            background-color: theme-status($theme, 'default', 'primary-hover');
            border: 1px solid theme-status($theme, 'default', 'border-hover');

            @each $panel_content_element in $panel_content_element_list {
            > #{$panel_content_element} {

                background-color: theme-status($theme, 'default', 'secondary-hover');

            }}

        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            div.panel.#{$status} {
                background-color: theme-status($theme, $status, 'primary');
                border: 1px solid theme-status($theme, $status, 'border');

                a:hover:not(.button) {
                    background-color: theme-status($theme, $status, 'primary');
                }

                @each $panel_header_element in $panel_header_element_list {
                > #{$panel_header_element} {

                    border-bottom: 1px solid theme-status($theme, $status, 'border');

                }}

                @each $panel_footer_element in $panel_footer_element_list {
                > #{$panel_footer_element} {

                    border-top: 1px solid theme-status($theme, $status, 'border');

                }}

            }

            div.panel.#{$status}:hover {
                background-color: theme-status($theme, $status, 'primary-hover');
                border: 1px solid theme-status($theme, 'default', 'border-hover');

            }

        }

    }}

}

//================================================//
//===== END "Basic Panel" Theme Colors Block =====//
//================================================//


//==================================//
//==== START Tabbed Panel Block ====//
//==================================//

.main-content {

    div.panel.tabs {

        .tab-nav {
            overflow-x: hidden;

            li {
                list-style: none;

                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;

                cursor: pointer;
            }
        }
    }
}

//==================================//
//===== END Tabbed Panel Block =====//
//==================================//


//=================================================//
//==== START "Tabbed Panel" Theme Colors Block ====//
//=================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        div.panel.tabs {

            .tab-nav {

                li {
                    border-right: 1px solid theme-status($theme, 'default', 'border');
                    border-bottom: 1px solid theme-status($theme, 'default', 'border');
                    border-left: 1px solid theme-status($theme, 'default', 'border');
                }

                li.selected {
                    background-color: theme-status($theme, 'default', 'primary');
                }

                li:not(.selected) {
                    background-color: theme-status($theme, 'default', 'border');
                }
            }
        }

        div.panel.tabs:hover {

                li.selected {
                    background-color: theme-status($theme, 'default', 'primary-hover');
                }
            }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            div.panel.tabs.#{$status} {

                .tab-nav {

                    li {
                        border-right: 1px solid theme-status($theme, $status, 'border');
                        border-bottom: 1px solid theme-status($theme, $status, 'border');
                        border-left: 1px solid theme-status($theme, $status, 'border');
                    }

                    li.selected {
                        background-color: theme-status($theme, $status, 'primary');
                    }

                    li:not(.selected) {
                        background-color: theme-status($theme, $status, 'border');
                    }
                }

            }

            div.panel.tabs.#{$status}:hover {

                li.selected {
                    background-color: theme-status($theme, $status, 'primary-hover');
                }
            }

        }

    }}

}

//=================================================//
//===== END "Tabbed Panel" Theme Colors Block =====//
//=================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//=================================//
//==== START Basic Panel Block ====//
//=================================//

div.panel {
    @include transition(color 0.5s, background-color 0.5s, border 0.5s);

    > div {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }

    a {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }
}

//=================================//
//===== END Basic Panel Block =====//
//=================================//


//==================================//
//==== START Tabbed Panel Block ====//
//==================================//

.main-content div.panel.tabs {
    .tab-nav li {
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }
}

//==================================//
//===== END Tabbed Panel Block =====//
//==================================//
