
//====================================//
//==== Status Message Element CSS ====//
//====================================//

// Import statements
@import '../_variables';
@import '../_mixins';


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

#status-message-container {
    position: relative;

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    padding: 0 !important;

    a {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .message {
        position: relative;

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        width: 100%;
        padding: 10px;

        > p:first-child {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);

            @include flex(1);
        }

        .exit {
            position: relative;
            right: 0;

            padding-top: 3px;
            padding-right: 8px;
            padding-bottom: 3px;
            padding-left: 8px;
            margin-right: 0.5%;
            margin-left: 0.5%;
        }
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//

//============================================//
//==== START General Status Message Block ====//
//============================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & #status-message-container {

        .message {
            a {
                font-weight: bold;
            }

            .exit {
                font-weight: bold;
            }

            .exit:hover {
                font-weight: bold;
            }
        }

    }}

}

//============================================//
//===== END General Status Message Block =====//
//============================================//


//===========================================================//
//==== START "General Status Message" Theme Colors Block ====//
//===========================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & #status-message-container {

        .message {
            a {
                color: theme-status($theme, 'default', 'link');
            }

            a:hover {
                color: theme-status($theme, 'default', 'link-hover');
            }

            .exit {
                color: theme-status($theme, 'default', 'link');
            }

            .exit:hover {
                color: theme-status($theme, 'default', 'link-hover');
            }
        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            .message.#{$status} {
                color: theme-status($theme, $status, 'text');

                a {
                    color: theme-status($theme, $status, 'link');
                }

                .exit {
                    color: theme-status($theme, $status, 'link');
                }

                .exit:hover {
                    color: theme-status($theme, $status, 'link-hover');
                }
            }

            .message.#{$status}:hover {

                a {
                    color: theme-status($theme, $status, 'link-hover');
                }

                .exit {
                    color: theme-status($theme, $status, 'link-hover');
                }

                .exit:hover {
                    color: theme-status($theme, $status, 'link-hover');
                }
            }

        }

    }}

}

//===========================================================//
//===== END "General Status Message" Theme Colors Block =====//
//===========================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//

//============================================//
//==== START General Status Message Block ====//
//============================================//

.main-content {

    .message {
        li {
            list-style-type: none;
        }

        a, .exit {
            border-radius: 5em;
        }
    }

    .message:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

//============================================//
//===== END General Status Message Block =====//
//============================================//


//===========================================================//
//==== START "General Status Message" Theme Colors Block ====//
//===========================================================//

.main-content {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & #status-message-container {

        .message {
            background-color: theme-status($theme, 'default', 'primary');
            border: 1px solid theme-status($theme, 'default', 'border');

            a:hover, .exit:hover {
                background-color: theme-status($theme, 'default', 'primary');
            }
        }

        .message:hover {
            background-color: theme-status($theme, 'default', 'primary-hover');
            border: 1px solid theme-status($theme, 'default', 'border-hover');
        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            .message.#{$status} {
                background-color: theme-status($theme, $status, 'primary');
                border: 1px solid theme-status($theme, $status, 'border');

                a:hover, .exit:hover {
                    background-color: theme-status($theme, $status, 'primary');
                }
            }

            .message.#{$status}:hover {
                background-color: theme-status($theme, $status, 'primary-hover');
                border: 1px solid theme-status($theme, 'default', 'border-hover');
            }

        }

    }}

}

//===========================================================//
//===== END "General Status Message" Theme Colors Block =====//
//===========================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

//===========================//
//==== START ----- Block ====//
//===========================//

#status-message-container {

    .message {
        box-sizing: border-box;

        @include transition(padding 0.7s, margin 0.7s, font-size 0.7s, color 0.5s, background-color 0.5s, border 0.5s, border-radius 0.5s, opacity 0.7s linear, visibility 0s 0.7s);

        a {
            @include transition(color 0.5s, background-color 0.5s, border 0.5s);
        }

        .exit {
            @include transition(color 0.5s, background-color 0.5s, border 0.5s);
            cursor: pointer;
        }
    }
}

//===========================//
//===== END ----- Block =====//
//===========================//
