
{% for error in form.non_field_errors %}
  <div class="alert error">{{ error }}</div>
{% endfor %}
<form method="POST" action="" enctype="multipart/form-data"
  {% if form_cols %}
      class="multi-col"
  {% endif %}
>
  {% csrf_token %}

  {% if forms %}
    {% for form in forms %}
      {% if form.display_name %}
        <h3 class="form-display-name">{{ form.display_name }}</h3>
      {% endif %}
      {% for error in form.non_field_errors %}
        <div class="alert error">{{ error }}</div>
      {% endfor %}
      {% include 'cae_home/include/form_fields.html' %}
      <hr>
    {% endfor %}
  {% else %}
    {% if form.display_name %}
      <h3 class="form-display-name">{{ form.display_name }}</h3>
    {% endif %}
    {% include 'cae_home/include/form_fields.html' %}
  {% endif %}

  {% if not exclude_buttons %}
    {% if button_text %}
      <input class="button primary" type="submit" value="{{ button_text }}">
    {% else %}
      <input class="button primary" type="submit" value="Submit">
    {% endif %}
  {% endif %}
</form>
