
//=========================================//
//===== Light Theme Common Values CSS =====//
//=========================================//

// Universal variables for light theme.


// Import statements
@import '../../_colors';


//================================================================================//
//==================================== Theme =====================================//
//================================================================================//

$theme-light-default: (
    'primary': $color-grey-85,
    'primary-hover': $color-grey-90,
    'secondary': $color-grey-95,
    'secondary-hover': $color-white,
    'border': $color-grey-75,
    'border-hover': $color-trans-grey-75,
    'link': $color-grey-45,
    'link-hover': $color-trans-black-75,
);

$theme-light-info: (
    'primary': #d1d5eb,
    'primary-hover': #dcdfef,
    'border': #9cacd3,
    'text': $color-trans-black-75,
    'link': #4040bf,
    'link-hover': #4040bf,
);

$theme-light-success: (
    'primary': #c6ecd0,
    'primary-hover': #d9f2e0,
    'border': #66cc81,
    'text': $color-trans-black-75,
    'link': #339933,
    'link-hover': #339933,
);

$theme-light-warning: (
    'primary': #ffeeb3,
    'primary-hover': #fff4cc,
    'border': #e1c251,
    'text': $color-trans-black-75,
    'link': #b88a2e,
    'link-hover': #b88a2e,
);

$theme-light-error: (
    'primary': #f4cbbe,
    'primary-hover': #f8dcd3,
    'border': #e19b84,
    'text': $color-trans-black-75,
    'link': #d15347,
    'link-hover': #d15347,
);
